node_modules
storage/*.key
vendor/*
!vendor/unisharp
vendor/unisharp/*
!vendor/unisharp/laravel-ckeditor
vendor/unisharp/laravel-ckeditor/*
!vendor/unisharp/laravel-ckeditor/config.js
!vendor/unisharp/laravel-ckeditor/styles.js

public/hot
public/storage
public/vendor 
public/mix-manifest.json
public/fonts
# public/assets # staging server doesnt have npm
public/images/admin

storage/debugbar
storage/tmp
storage/medialibrary
log

package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.idea
.vagrant
.htaccess