.round-button {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    &.black {
        background: $black-color;
        color: $white-color;
        box-shadow: 3px 3px 3px $yellow-color;
        -moz-box-shadow: 3px 3px 3px $yellow-color;
        -webkit-box-shadow: 3px 3px 3px $yellow-color;
    }

    &.lg {
        margin: 0 auto;
        width: 480px;
        font-size: 24px;
        font-weight: 700;
        height: 74px;
        line-height: 74px;

        &.full {
            width: 100%;
        }
        @include only-for-mobile() {
            margin: 0 auto;
            width: 92%;
            font-size: 16px;
            font-weight: 500;
            height: 50px;
            line-height: 50px;
        }
    }

    &.md {
        width: 240px;
        font-size: 20px;
        font-weight: 700;
        height: 50px;

        &.full {
            width: 100%;
        }
        @include only-for-mobile() {
            margin: 0 auto;
            width: 92%;
            font-weight: 500;
        }
    }

    &:hover {
        opacity: 0.7;
    }
}