/* Styles for 404 page */
.p-404 .main {
  min-height: 175px;
  margin-bottom: 30px;
}

.p-404 .main .title-lx {
  font-family: Oswald, sans-serif;
  background: #fff100;
  color: #fffa9d;
  display: block;
  font-size: 120px !important;
  min-height: 175px;
  width: 100%;
  z-index: 111;
  height: 100%;
}

.p-404 .main .title-lx .container .relative {
  position: relative;
}

.p-404 .main .title-lx .container .relative .info {
  margin-top: 50px;
  line-height: 95%;
}

.p-404 .main .title-lx .container .relative .info .title-e {
  margin-left: -5px;
}

.p-404 .main .title-lx .container .relative .info .absolute {
  font-family: "Raleway", sans-serif !important;
  font-size: 20px;
  position: absolute;
  color: #111;
  bottom: -27px;
  font-weight: bold;
}

.p-404 .main .title-lx .container .relative .info .absolute p {
  margin-bottom: 0;
  font-size: 35px;
  letter-spacing: 10px;
  line-height: 120%;
}

.p-404 .main .title-lx .container .relative .info .absolute .title-j {
  display: inline-block;
  background: #000000;
  letter-spacing: 10px;
  color: white;
  line-height: 30px;
}

@media (max-width: 575.98px) {
  .p-404 {
    padding-bottom: 0px;
  }

  .p-404 .main {
    min-height: 75px;
  }

  .p-404 .main .title-lx {
    height: 120px;
    min-height: unset;
  }

  .p-404 .main .title-lx .container .relative {
    position: relative;
  }

  .p-404 .main .title-lx .container .relative .info {
    margin-top: 85px;
    line-height: 1.5;
  }

  .p-404 .main .title-lx .container .relative .info .title-e {
    position: relative;
    top: -150px;
    font-size: 43px;
  }

  .p-404 .main .title-lx .container .relative .info .absolute {
    bottom: 90px;
  }

  .p-404 .main .title-lx .container .relative .info .absolute .title-j {
    display: inline;
    line-height: 40px;
    letter-spacing: 3px;
    font-size: 30px;
  }
}

@media only screen and (min-width : 576px) and (max-width : 991px) {
  .p-404 .main .title-lx .container .relative .info .title-e {
    font-size: 90px !important;
  }

  .p-404 .main .title-lx .container .relative .info .absolute{
    bottom: -15px;
  }
}


/* For mobile */
@media only screen and (min-width : 314px) {
  div.container.p-404 .row p{
    margin: 120px 15px 230px;
  }
}

/* For tablet */
@media only screen and (min-width : 768px) {
  div.container.p-404 .row p{
    margin: 50px 15px 220px;
  }
}

/* For desktop */
@media only screen and (min-width : 992px) {
  div.container.p-404 .row p{
    margin: 30px 15px 200px;
  }
}