.row h3
{
    padding: 10px;
    background-color: gray;
    text-align: center;
    color: white;
}
.row h4
{
    font-weight: bold;
}
footer
{
    padding: 50px;
    background-color: ghostwhite;
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
}

div.gallery {
    /*margin: 5px;*/
    border: 1px solid #ccc;
    /*float: left;*/
    /*width: 180px;*/
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
ul{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
}
ul li a
{
    margin-left: auto;
    margin-right: auto;
}

.navbar.navbar-static-top .container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d4d1d1;
}

.slide .container {
    width: 100%;
    padding: 0;
}

.navbar.navbar-default.navbar-static-top {
    margin-bottom: 0
}

#modal_register .code-top .col-md-4{
    z-index: 10;
    background-color: #fff;
    margin: 20px 0 0px 45px;
}

#modal_register .code-top img{
    position: relative;
    margin-top: -215px;
    width: 400px;
}

.modal_register .close {
    margin-top: -28px;
    background: #fff;
    width: 33px;
    opacity: 1;
    border-radius: 13px;
    border: 1px solid #b5adad;
    height: 33px;
    margin-right: -26px;
}

#modal_register .input-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: 0;
}

#modal_register .lblcheckbox {
    padding-left: 10px;
    vertical-align: middle;
}

#modal_register .link-redirect {
    color: red;
    text-decoration-line: underline;
}

.btn.btn-register {
    width: 100%;
    margin-top: 10px
}

.nav.navbar-nav.navbar-right li a {
    cursor: pointer;
}

#modal_register .image-register {
    width: 170px;
}
#modal_register .btn.btn-warning {
    width: 210px;
}