
header{
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 9;
}
header .bx_header{
    display: flex;
    justify-content: space-between;
}
.bx_header .hd_left{
    padding-left: 60px;
}

.nav{
    margin-top: 40px;
}

.nav li {
    list-style: none;
    margin-bottom: 27px;
}
.nav li a{
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    color: #232323;
    text-transform: uppercase;
}

.bx_header .hd_right{
    padding-right: 76px;
}
.btn_find{
    font-size: 18px;
    line-height: 1;
    background-color: #fff100;
    border: 1px solid #fff100;;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #232323;
}
.btn_find:hover{
    text-decoration: none;
    border: 1px solid #fff100;
    background-color: #fff;
}

main{
    background-color: #fff;
    padding-top: 100px;
}
.banner{
    position: relative;
}
.banner figure{
    text-align: center;
    position: relative;
}
.banner figure > img{
    width: 85%;
    height: auto;
}
.banner figure figcaption{
    position: absolute;
    bottom: -50px;
    right: 80px;
}

.banner a{
    font-size: 14px;
    line-height: 1;
    color: #232323;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
}
.banner a::after{
    content:"";
    width: 1px;
    height: 145px;
    background-color: #000;
    position: absolute;
    bottom: -148px;
    left: 50%;
    transform: translateX(-50%);
}

header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0,0,0);
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(50,49,49,0.39);
}

header.fixed .bx_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
}
header.fixed .bx_header .hd_left{
    width: calc(100% - 250px);
    display: flex;
    align-items: center;
}
header.fixed .bx_header .hd_left .logo img{
    width: 200px;
    height: 65px;
}

header.fixed .bx_header .hd_left .nav{
    margin-left: 50px;
}

header.fixed .bx_header .hd_left .nav li{
    display: inline-block;
}

header.fixed .bx_header .hd_left .nav li:not(:last-child){
    margin-right: 30px;
}

header.fixed .bx_header .hd_right{
    width: 250px;
}

.image-top {
    margin: 180px 10px 0px 10px !important;   
    right: 0
}


.image-top .img-detail.last {
    margin-right: 0;
}


div.gallery {
    /*margin: 5px;*/
    border: 1px solid #ccc;
    /*float: left;*/
    /*width: 180px;*/
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
ul{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
}
ul li a
{
    margin-left: auto;
    margin-right: auto;
}


#modal_register .code-top .col-md-4{
    z-index: 10;
    background-color: #fff;
    margin: 20px 0 0px 45px;
}

#modal_register .code-top img{
    position: relative;
    margin-top: -215px;
    width: 400px;
}

.modal_register .close {
    margin-top: -28px;
    background: #fff;
    width: 33px;
    opacity: 1;
    border-radius: 13px;
    border: 1px solid #b5adad;
    height: 33px;
    margin-right: -26px;
}

#modal_register .input-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: 0;
}

#modal_register .lblcheckbox {
    padding-left: 10px;
    vertical-align: middle;
}

#modal_register .link-redirect {
    color: red;
    text-decoration-line: underline;
}

.btn.btn-register {
    width: 100%;
    margin-top: 10px
}

.nav.navbar-nav.navbar-right li a {
    cursor: pointer;
}

#modal_register .image-register {
    width: 170px;
}
#modal_register .btn.btn-warning {
    width: 210px;
}

footer li {
    list-style: none;
}

footer a:hover,
footer a {
    color: #fff;
}

footer .link-hatachi {
    background-color: #d0c129;
    padding: 16px 31px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 50%;
}

.container-footer .row {
    padding-left: 50px;
}

footer .li-first {
    margin-bottom: 20px
}

footer .td-border {
    border-left: 1px solid #fff;
    margin-top: 6px; 
}

footer .footer-bottom {
    float: right;
}

footer .footer-bottom li{
    padding-right: 0;
    padding-left: 5px;
}

@media (min-width: 375px) and (max-width: 676px) {
    .container-footer .row {
        padding-left: 0;
    }

    .footer-bottom li {
        padding-left: 0
    }

    footer .td-border {
        display: none;
    }
}
