.row h3
{
    padding: 10px;
    background-color: gray;
    text-align: center;
    color: white;
}
.row h4
{
    font-weight: bold;
}
footer
{
    padding: 50px;
    background-color: ghostwhite;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
ul{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
}
ul li a
{
    margin-left: auto;
    margin-right: auto;
}