
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-family-oswald: "Oswald", sans-serif;

$font-size-base: 1rem;
$line-height-base: 1.6;
$text-color: #636b6f;
$text2-color: #6b6b6b;
$text3-color: #171717;

$background-panel-color: #ededed;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Link color
$heart-color: #DCDCDC;

/* Colors */
$color-navy: #001F3F;
$blue-color: #0074D9;
$aqua-color: #7FDBFF;
$teal-color: #39CCCC;
$olive-color: #3D9970;
$green-color: #2ECC40;
$lime-color: #01FF70;
$color-yellow: #FFDC00;
$orange-color: #FF851B;
$red-color: #FF4136;
$fuchsia-color: #F012BE;
$purple-color: #B10DC9;
$maroon-color: #85144B;
$white-color: #FFFFFF;
$silver-color: #DDDDDD;
$gray-color: #AAAAAA;
$black-color: #111111;
$yellow-color: #fff100;


/* ========================== FONT ===========================*/
//.standard-font{
//  font-size: 16pt;
//  line-height: 30pt;
//  font-family: Raleway,sans-serif;
//}
//.title-font{
//  font-weight: bold;
//  font-size: 20px;
//  line-height: 40px;
//}

@mixin standard-font($font-size: 16px, $line-height: 30px) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family-sans-serif;
}
@mixin title-font($font-size: 20px, $line-height: 40px, $font-weight: bold) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
@mixin panel-font()
{
  @include title-font($line-height: 36px, $font-weight: normal);
  color: $black-color;
  background-color: $background-panel-color;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
) !default;

/* ========================== Set style by sp/pc ============================*/
@mixin only-for-mobile {
  @media (max-width: 575.98px) {
    @content;
  }
}
@mixin only-for-pc {
  @media (min-width: 576px) {
    @content;
  }
}
/* ========================== End Set style by sp/pc ========================*/