.container.about{
  width: 100%;
  max-width: 100%;
  padding: none;
  margin-top: -30px;
  margin-bottom: -30px;
  overflow-y: hidden;
}
.jladev_fix_title{
  min-height: 51px;
  overflow: hidden;
}
.container.about .about-banner{
  margin: 0;
  padding: 0;
}

.container.about .about-cb-path{
  display: inline-block;
  width: 46px;
  height: 4px;
  background-color: #fff100;
  margin: 30px auto;
}

.container.about .top{
  margin-top: -60px;
  //width:99%;
}

.container.about .top .container.content-1{
  background: none;
}

.container.about .top .container.content-1 .char-rotate{
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  writing-mode: tb-rl;
}

.container.about .top .container.content-1 .content-1-title:first-child{
  margin-top: -188px !important;
}

.container.about .top .container.content-1 .about-content-1-content .text-detail{
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  padding-bottom: 24px;
}
.container.about .top .container.content-1 .about-content-1-content .text_detail_title{
  font-size: 22px;
  line-height: 40px;
  font-weight: bold;
  padding-bottom: 24px;
}
.container.about .top .div-bg{
  display: inline-block;
  width: 66%;
  height: 80px;
  background-color: #fff;
  position: absolute;
  //top: 800px;
}

.about-why-born,
.about-what-done{
  padding: 60px 0;
  letter-spacing: 2px;

  .why-born-col,
  .what-done-col{
    width: 100%;
    display: inline-block;
    background-color: $white-color;
    border-radius: 10px;
    padding: 50px 18%;
    font-family: "Kozuka Gothic Pr6N";

    .text_detail_title,
    .text_detail_title{
      font-size: 20px;
      font-weight: bold;
      text-align: justify;
    }

    .text_detail,
    .text_detail{
      font-size: 16px;
      text-align: justify;
    }
    img{
      width: 100%;
      height: 100%;
      button: 0;
    }
  }
}

.about-why-born{
  background-color: #FFF100;
  margin-top: -60px;
}

.about-what-done{
  .what-done-col{
    padding: 5px 15%;
  }

  .what-done-col .more-detail{
    text-align: left;
    font-family: Oswald,sans-serif !important;
    //padding-left: 35px;
  }

  .what-done-col .more-detail a:hover,
  .what-done-col .more-detail a:focus{
    text-decoration: none;
  }

  .what-done-col .more-detail span{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    //font-family: "Myriad Pro";
  }

  .what-done-col .more-detail img{
    width: 100px;
    height: 20px;
    display: inline;
    margin-bottom: 0;
  }

}

.about-what-done-title,
.about-hatachi-title{
  font-size: 22px;
  line-height: 40px;
  font-weight: bold;
  padding-bottom: 0;
}

.about-hatachi .about-hatachi-col{
  border-radius: 10px;
  flex: 0 0 30%;
  text-align: center;
  padding: 20px 0px;
}

.about-hatachi .about-hatachi-col a.btn-link:focus,
.about-hatachi .about-hatachi-col a.btn-link:hover{
  text-decoration: none;
}

.about-hatachi a.btn-link{
  font-size: 20px;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: "Kozuka Gothic Pr6N";
  border-radius: 35px;
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: 0px 2px 0px 0px #fff100;
  box-shadow: 0px 3px 0px 0px #fff100;
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 575.98px) {
  .container.about{
    margin-top: -120px;
  }

  .container.about .about-banner img {
    width: 100%;
  }

  .container.about .top{
    margin-top: 110px !important;
  }

  .container.about .top .content-1 .about-content-title {
    margin-left: 15px !important;
  }



  .container.about .top .content-1 .about-content-title .content-1-title {
    font-size: 30px !important;
    text-align: start !important;
  }

  .container.about .top .div-bg{
    display: none !important;
  }
  .container.about .top .container.content-1{
    padding: 45px 0 0;
    margin-top: -60px;
  }
  .container.about .top .container.content-1 .content-1-title:first-child{
    margin-top: 0 !important;
    padding-left: 0 !important;
  }
  .container.about .top .container.content-1 .content-1-title{
    //font-size: 30px;
  }
  .container.about .top .container.content-1 .char-rotate{
    transform: none;
    writing-mode: horizontal-tb;
    //margin-left: -10px;
  }
  .container.about .top .container.content-1 .content-1-title:last-child .char-rotate{
    margin-left: 0;
  }
  .container.about .top .container.content-1 .content-1-title:not(:first-child){
    padding-left: 0 !important;
  }
  .container.about .about-content-1-content .text-my-theme{
    padding-top: 0 !important;
    top: 50px;
    text-align: justify;
    padding: 6px;
  }

  .container.about .about-content-1-content .text-my-theme .about-cb-path{
    margin-left: 5px;
    margin-bottom: 20px;
  }

  .container.about .top .container.content-1 .about-content-1-content .text-detail{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px 20px;
  }

  .container.about .top .container.content-1 .about-content-1-content .text-detail:last-child{
    padding-top: 0;
  }

  .container.about .top .container.content-1 .about-content-1-content .text_detail_title{
    padding: 0 5px;
    font-size: 20px;
  }


  .container.about .about-why-born{
    padding: 90px 0 80px 0;
  }

  .container.about .about-why-born .why-born-col{
    margin-bottom: 20px;
  }

  .container.about .about-hatachi{
    margin-bottom: 80px;
    text-align: justify;
  }

  .container.about .about-hatachi .about-hatachi-col{
    padding: 0 0 20px 0;
    text-align: center;
  }

  .container.about .about-hatachi .about-hatachi-col a.btn-link:hover,
  .container.about .about-hatachi .about-hatachi-col a.btn-link:focus{
    text-decoration: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 575px) and (max-width: 991.98px) {

  .container.about .about-banner img {
    width: 100%;
  }

  .container.about .top .content-1 .about-content-title .content-1-title {
    font-size: 36px !important;
    height: 500px !important;
    text-align: start !important;

    margin-top: -150px !important;
  }

  .container.about {
    margin-top: -120px;
  }

  .container.about .top {
    margin-top: 25px !important;
  }
  .container.about .top .div-bg{
    top: 420px;
  }
  .container.about .top .container.content-1 {
    padding: 45px 0 0;
  }
  .container.about .top .container.content-1 .content-1-title:first-child {
    margin-top: 0;
  }
  .container.about .top .container.content-1 .char-rotate {
    transform: none;
    writing-mode: horizontal-tb;
    //margin-left: -10px;
  }
  .container.about .top .container.content-1 .content-1-title:last-child .char-rotate {
    margin-left: 0;
  }
  .container.about .top .container.content-1 .content-1-title:not(:first-child) {
    padding-left: 5px;
  }
  .container.about .about-content-1-content .text-my-theme {
    top: -72px;
  }

  .container.about .about-content-1-content .text-my-theme .about-cb-path {
    margin-left: 5px;
    margin-bottom: 20px;
  }

  .container.about .about-cb-path.path-1 {
    display: none;
  }

  .container.about .top .container.content-1 .about-content-1-content .text-detail {
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px 20px;
  }

  .container.about .top .container.content-1 .about-content-1-content .text-detail:last-child {
    padding-top: 0;
  }

  .container.about .top .container.content-1 .about-content-1-content .text_detail_title {
    padding: 0 5px;
    font-size: 20px;
  }

  .container.about .about-hatachi .about-hatachi-col a.btn-link:hover,
  .container.about .about-hatachi .about-hatachi-col a.btn-link:focus {
    text-decoration: none;
  }

}

.about-why-born{
    background-color: #FFF100;
    margin-top: -60px;
    .container {
        padding: 50px 26px;
        margin: 0 auto;
        @include only-for-mobile() {
            padding: 0;
            padding-right: 0;
            padding-top: 73px;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .about .top .content-1 .about-content-title .content-1-title {
    font-size: 36px !important;
    height: 500px !important;
    text-align: start !important;
    margin-top: -150px !important;
  }

  .container.about .about-cb-path.path-1 {
    display: none;
  }

  

  .about-why-born .why-born-col,
  .about-what-done .what-done-col,
  .about-hatachi .about-hatachi-col{
    background-color: #fff;
    border-radius: 10px;
    margin-right: 30px;
    flex: 0 0 30%;
    text-align: center;
    padding: 20px 30px;
  }

  .about-hatachi .about-hatachi-col{
    padding: 20px 0 20px 20px;
    text-align: left;
    margin-right: 5px;
  }

  .about-why-born .why-born-col:last-child,
  .about-what-done .what-done-col:last-child,
  .about-hatachi .about-hatachi-col:last-child{
    margin-right: 0px;
  }

  .about-what-done{
        .container {
            margin: 0 auto;
        }
  }

  .about-hatachi{
    .container {
        margin: 0 auto;
    }
  }

  .about-hatachi .about-hatachi-col a.btn-link:focus,
  .about-hatachi .about-hatachi-col a.btn-link:hover{
    text-decoration: none;
  }
}
