//========== Column ===================
.column {
  /* ========== Style title màu vàng     =========== */
  .main {
    min-height: 175px;
    margin-bottom: 30px;

    .title-lx {
      font-family: Oswald, sans-serif;
      background: #fff100;
      color: #fffa9d;
      display: block;
      font-size: 120px !important;
      min-height: 175px;
      width: 100%;
      z-index: 111;
      height: 100%;

      .container .relative {
        position: relative;

        .info {
          margin-top: 50px;
          line-height: 95%;

          .title-e {
            margin-left: -5px;
          }

          .absolute {
            font-family: $font-family-sans-serif !important;
            font-size: 20px;
            position: absolute;
            color: #111;

            bottom: -27px;
            font-weight: bold;

            p {
              margin-bottom: 0;
              font-size: 35px;
              letter-spacing: 10px;
              line-height: 120%;
            }

            .title-j {
              display: inline-block;
              background: #000000;
              letter-spacing: 10px;

              color: white;
              line-height: 30px;
            }
          }
        }
      }
    }
  }

  @include only-for-mobile() {
    .main {
      min-height: 75px;

      .title-lx {
        height: 120px;
        min-height: unset;

        .container .relative {
          position: relative;

          .info {
            margin-top: 85px;
            line-height: 1.5;

            .title-e {
              position: relative;
              top: -130px;
              font-size: 85px;
            }

            .absolute {
              bottom: 128px;

              p {
              }

              .title-j {
                //display: inline;
                //letter-spacing: 0px;
                //line-height: 40px;
              }
            }
          }
        }
      }
    }
  }

  /* ========== End style title màu vàng =========== */

  //@include standard-font();
  .article-list{
    width:100%;
    .article {
      width: 100%;
      padding-top: 32px;
      //img{
      //  @include only-for-tab-pc-lx(){
      //    max-width: 300px;
      //    max-height: 300px;
      //  }
      //  width: 100%;
      //  object-fit: cover;
      //}
      .article-status{
        line-height: 200%;
        font-size: small;
        font-weight: bold;
        color: $white-color;

        position: relative;
        display: inline-block;
        width: 100%;

        .shape-8{
          @extend %shape-8;
          margin: 8px 0 16px !important;
          height: 1px !important;
          background-color: #DCDCDC !important;
        }

        img{
          position: absolute;
          max-height: 24px;
          max-width: 101px;
          top: 0;
        }

        span{
          position: absolute;
          max-height: 24px;
          max-width: 101px;
          top: 0;
          left: 5px;
        }
      }

      .article-content{
        padding-top: 8px;
        @include title-font();
        a{
          color: $black-color;
        }

        .content-left img {
          border-radius: 15px;
          -moz-border-radius: 15px; /*Firefox*/
          -webkit-border-radius: 15px;  /*Chrome và Safary*/
          max-height: 230px;
          width: 100%;
          object-fit: cover;
        }

        .content-left{
          .image{
            max-height: 230px;
            width: 100%;
            object-fit: cover;
          }
        }

        .content-right {
          @include only-for-mobile() {
            padding-top: 8px;
          }
          .icon-favorite {
            text-align: right;
            padding-bottom: 24px;
            font-size:24px;
            >i{
              color: rgb(99, 107, 111);
            }
          }
          .title {
            font-size: 20px;
            text-align: justify;
          }

          .category, .date {
            color: $text2-color;
            font-size: small;
            display: block;

            @include only-for-tab-pc(){
              display: inline;
            }
          }

          .date {
            text-align: right;
          }
          
          
        }
      }
    }

    .shape-8{
      @extend %shape-8;
      margin: 32px 0 8px !important;
      height: 1px !important;
      background-color: #DCDCDC !important;
    }

    .paging {
      //for sp
      padding: 32px 0 !important;
      //for pc
      @include only-for-tab-pc(){
        padding: 32px 0 0 !important;
      }

      .pagination {
        justify-content: center;
        -webkit-box-align: center;
      }
      .pagination .page-item .page-link {
        background-color: #d2d2d2;
        color: #323233;
        border: #d2d2d2;
        //for sp
        border-radius: 19px;
        margin: 4px;
        padding: 2px 11px;
        //for pc
        @include only-for-tab-pc(){
          border-radius: 35px;
          margin: 10px;
          padding: 8px 17px;
        }
      }
      .pagination .page-item:first-child .page-link,
      .pagination .page-item:last-child .page-link {
        background-color: transparent;
        border: none;
        font-weight: bold;
      }
      .pagination .page-item.active .page-link {
        background-color: #fff100;
        border: #fff100;
      }
    }
  }

  //.pagination-link{
  //  padding: 32px 0;
  //  font-size: 20px;
  //}
}

//=========== column detail ===========
.column {
  .tit{
    @include title-font();
    padding-bottom: 24px;
    .underline{
      font-size: large;
      font-weight: bold;
      color: $black-color;

      border-bottom: 0 solid $yellow-color;
      box-shadow: inset 0 -5px 0 $yellow-color;
      transition: background .15s cubic-bezier(.33,.66,.66,1);
      display: inline;
    }
    .icon-favorite{
      text-align: right;

      .heart-icon{
        cursor: pointer;
        font-size: 24px;
        color: rgb(99, 107, 111);
      }
      .heart-create-at{
        font-size: 18px;
        color: $text2-color;
      }
    }
    .shape-8{
      @extend %shape-8;
    }
  }

  .txt{
    .txt_content{
      color: $text2-color;
      text-align: justify;
      @include only-for-mobile(){
        img {
          max-width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}
