// Column ========================
.column {
  @include standard-font();
  font-family: Raleway,sans-serif;
  padding-top: 10px;

  //======== column list =========
  .article-list{
    width:100%;
    .article{
      width: 100%;
      padding-top: 32px;
      img{
        width: 100%;
        height: auto;
      }
      .article-status{
        line-height: 200%;
        font-size: small;
        font-weight: bold;
        color: $white-color;

        position: relative;
        display: inline-block;
        width: 100%;

        .shape-8{
          @extend %shape-8;
          margin: 8px 0 16px !important;
          height: 1px !important;
          background-color: #DCDCDC !important;
        }

        img{
          position: absolute;
          max-height: 24px;
          max-width: 101px;
          top: 0;
        }

        span{
          position: absolute;
          max-height: 24px;
          max-width: 101px;
          top: 0;
          left: 5px;
        }
      }
      .article-content{
        padding-top: 8px;
        @include title-font();
        img {
          border-radius: 15px;
          -moz-border-radius: 15px; /*Firefox*/
          -webkit-border-radius: 15px;  /*Chrome và Safary*/
        }

        .content-left{
          .image{
            max-height: 230px;

          }
        }

        .content-right {
          @include only-for-mobile() {
            padding-top: 8px;
          }
          .icon-favorite {
            text-align: right;
            padding-bottom: 24px;
          }
          .title {
            font-size: 20px;
          }

          .category, .date {
            color: $text2-color;
            font-size: small;
            display: block;

            @include only-for-pc(){
              display: inline;
            }
          }

          .date {
            text-align: right;
          }
          
          
        }
      }
    }

    .shape-8{
      @extend %shape-8;
      margin: 32px 0 8px !important;
      height: 1px !important;
      background-color: #DCDCDC !important;
    }

    .paging{
      padding: 24px 0;
    }
  }

  .pagination-link{
    padding: 32px 0;
    font-size: 20px;
  }
  //=========== column detail ===========
  .tit{
    @include title-font();
    padding-bottom: 24px;
    .underline{
      font-size: large;
      font-weight: bold;
      color: $black-color;

      border-bottom: 0 solid $yellow-color;
      box-shadow: inset 0 -5px 0 $yellow-color;
      transition: background .15s cubic-bezier(.33,.66,.66,1);
      display: inline;
    }
    .heart{
      text-align: right;
      .heart-icon{
        font-size: 24px;
        color: $heart-color;
        .heart-create-at{
          color: $text2-color;
        }
      }
    }
    .shape-8{
      @extend %shape-8;
    }
  }
  .txt{
    .txt_content{
      color: $text2-color;
      text-align: justify;
    }
  }
  .txt-btn{
    padding: 40px 0;
    button{
      padding: 5px 30px;
      border-radius: 30px;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border: none;
      background: $black-color;
      color: $white-color;
      font-weight: bold;
      font-size: 24pt;
      line-height: 40pt;
      cursor: pointer;
      //Đổ bóng phía dưới
      box-shadow: 3px 3px 3px $yellow-color;
      -moz-box-shadow: 3px 3px 3px $yellow-color;
      -webkit-box-shadow: 3px 3px 3px $yellow-color;
    }
  }
}
