// Event ========================================
.event {

  //@include standard_font();

  //======== event list =========
  .icon{
    width: 100%;
    .title-x{
      @include title-font();
      padding-bottom: 24px;
      .underline{
        font-size: large;
        font-weight: bold;
        //padding-top: 24px;
        border-bottom: 0 solid $yellow-color;
        box-shadow: inset 0 -5px 0 $yellow-color;
        transition: background .15s cubic-bezier(.33,.66,.66,1);
        display: inline;
      }
    }
    .icon-title {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 5px;
      font-weight: bold;
    }
    img {
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      //width: 100%;
      //height: 100%;
      //max-height: 250px;
    }
    .icon-01{
      padding: 0;
      @include only-for-tab-pc-lx(){
        padding: 0 32px;
      }
      
    }
  }

  .p-features {
    @include only-for-tab-pc(){
      .c-col {
        width: 30%;

      }
    }
  }

  .event-article-list {
    width: 100%;
    .article {
      width: 100%;
      padding-top: 32px;
      position: relative;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      .article-status {
        line-height: 200%;
        font-size: small;
        font-weight: bold;
        color: $black-color;

        position: relative;
        display: inline-block;
        width: 100%;

        .shape-8 {
          @extend %shape-8;
          margin: 8px 0 16px !important;
          height: 1px !important;
          background-color: #DCDCDC !important;
        }

        img {
          position: absolute;
          max-height: 24px;
          max-width: 111px;
          top: 0;
        }

        span {
          position: absolute;
          max-height: 24px;
          max-width: 101px;
          top: 0;
          color: $white;
        }
      }

      .article-content {
        padding-top: 8px;
        @include title-font();

        a{
          color: $black-color;
        }

        .content-left img {
          border-radius: 15px;
          -moz-border-radius: 15px; /*Firefox*/
          -webkit-border-radius: 15px; /*Chrome và Safary*/

          max-height: 230px;
          width: 100%;
          object-fit: cover;
        }

        .content-right {
          @include only-for-mobile() {
            padding-top: 8px;
          }
          .icon-favorite {
            text-align: right;
            padding-bottom: 24px;
            font-size:24px;
            >i{
              color: rgb(99, 107, 111);
            }
          }

          .title {
            font-size: 20px;
            text-align: justify;
          }

          .category, .date {
            color: $text2-color;
            font-size: small;
            display: block;

            @include only-for-tab-pc() {
              display: inline;
            }
          }

          .date {
            text-align: right;
          }
        }
      }
    }

    .shape-8 {
      @extend %shape-8;
      margin: 32px 0 8px !important;
      height: 1px !important;
      background-color: #DCDCDC !important;
    }

    .paging {
      //for sp
      padding: 32px 0 !important;
      //for pc
      @include only-for-tab-pc(){
        padding: 32px 0 0 !important;
      }

      .pagination {
        justify-content: center;
        -webkit-box-align: center;
      }
      .pagination .page-item .page-link {
        background-color: #d2d2d2;
        color: #323233;
        border: #d2d2d2;
        //for sp
        border-radius: 19px;
        margin: 4px;
        padding: 2px 11px;
        //for pc
        @include only-for-tab-pc(){
          border-radius: 35px;
          margin: 10px;
          padding: 8px 17px;
        }
      }
      .pagination .page-item:first-child .page-link,
      .pagination .page-item:last-child .page-link {
        background-color: transparent;
        border: none;
        font-weight: bold;
      }
      .pagination .page-item.active .page-link {
        background-color: #fff100;
        border: #fff100;
      }
    }
  }

  //.pagination-link{
  //  padding: 32px 0;
  //  font-size: 20px;
  //}
//
}

//=========== event detail ===========
.event{
  .tit{
    @include title-font();
    padding-bottom: 24px;
    .underline{
      font-size: large;
      font-weight: bold;
      color: $black-color;
      //padding-top: 24px;

      border-bottom: 0 solid $yellow-color;
      box-shadow: inset 0 -5px 0 $yellow-color;
      transition: background .15s cubic-bezier(.33,.66,.66,1);
      display: inline;
    }
    .icon-favorite{
      text-align: right;

      .heart-icon{
        cursor: pointer;
        font-size: 24px;
        color: rgb(99, 107, 111);
      }
      .heart-create-at{
        font-size: 18px;
        color: $text2-color;
      }
    }
    .shape-8{
      color: $heart-color;
      width: 100%;
      size: 30px;
      padding-top: 1px;
      margin: 8px 0 16px;
    }
  }

  .txt{
    .txt_content{
      color: $text2-color;
      text-align: justify;
      @include only-for-mobile(){
        img {
          max-width: 100% !important;
          height: 100% !important;
        }
      }

      img[style*=right] {
        margin-bottom: 0.5rem;
        margin-left: 1rem;
      }

      img[style*=left] {
        margin-bottom: 0.5rem;
        margin-right: 1rem;
      }
    }

    //.txt-btn{
    //  padding: 24px 0;
    //  button{
    //    padding: 5px 30px;
    //    border-radius: 30px;
    //    -moz-border-radius: 30px;
    //    -webkit-border-radius: 30px;
    //    border: none;
    //    background: $black-color;
    //    color: $white-color;
    //    font-weight: bold;
    //    font-size: 24pt;
    //    line-height: 40pt;
    //    cursor: pointer;
    //    //Đổ bóng phía dưới
    //    box-shadow: 3px 3px 3px $yellow-color;
    //    -moz-box-shadow: 3px 3px 3px $yellow-color;
    //    -webkit-box-shadow: 3px 3px 3px $yellow-color;
    //  }
    //}
  }

  .form-user-register .modal-body{
    @include only-for-mobile()
    {
      margin: 10px !important;
    }
  }

  .txt-btn{
    padding: 40px 0;
  }
}


.jladev_stt_1, .jladev_stt_2, .jladev_stt_3{
  position: relative;
  &:before {
    content: '';
    width: 120px;
    height: 120px;
    display: block;
    margin-top: -100px;
    z-index: 10000000;
    margin-left: -50px;
  }
}
.jladev_stt_1:before{
  background: url(/images/user/about/0-1.png) no-repeat; background-size: 100%;
}

.jladev_stt_2:before{
  background: url(/images/user/about/0-2.png) no-repeat; background-size: 100%;
}

.jladev_stt_3:before{
  background: url(/images/user/about/0-3.png) no-repeat; background-size: 100%;
}
.jladev_even_text{
  margin-left: -10%;
  line-height: 1.5;
}

@media only screen and (max-width: 575.98px){
  .event .icon .icon-01{
    margin-bottom: 25px;
  }
  .jladev_even_text{
    margin-left: 0;
  }
  .jladev_stt_1:before{
    content: '';
    background: url(/images/user/about/0-1-mobile.png) no-repeat;
    width: 150px;
    height: 165px;
    display: block;
    margin-top: -130px;
    z-index: 10000000;
    margin-left: -17%;
  }
  .jladev_stt_2:before{
    content: '';
    background: url(/images/user/about/0-2-mobile.png) no-repeat;
    width: 150px;
    height: 165px;
    display: block;
    margin-top: -130px;
    z-index: 10000000;
    margin-left: -17%;
  }
  .jladev_stt_3:before{
    content: '';
    background: url(/images/user/about/0-3-mobile.png) no-repeat;
    width: 150px;
    height: 165px;
    display: block;
    margin-top: -130px;
    z-index: 10000000;
    margin-left: -17%;
  }
  .event .icon img{
    min-width: auto;
    min-height: auto;
    margin: 0 auto;
    display: block;
  }

}

@media only screen and (max-width: 375px){
  .jladev_even_text {
    margin-left: 5px;
    line-height: 1.5;
  }
  .event .icon .title-x{
    font-size: 18px;
  }
  .home .main .title-lx .container .relative .info .title-e{
    font-size: 60px;
  }
}
@media only screen and (max-width: 320px){
  .jladev_stt_1:before{
    margin-left: -23%;
  }
  .jladev_stt_2:before{
    margin-left: -23%;
  }
  .jladev_stt_3:before{
    margin-left: -23%;
  }
  .jladev_even_text{
    margin-left: 0;
  }
  .home .main .title-lx .container .relative .info .absolute .title-j{
    font-size: 26px !important;
  }
}