.home{
  .main{
    min-height: 175px;
    margin-bottom: 30px;
    .title-lx{
      font-family: $font-family-oswald;
      background: $yellow-color;
      color: #fffa9d;
      display: block;
      font-size: 120px !important;
      min-height: 175px;
      width: 100%;
      .container .relative{
        position: relative;
        .info {
          line-height: 95%;

          margin-top: -30px;
          @include only-for-pc(){
            margin-top: 50px !important;
          }

          .title-e{
            margin-left: -5px;
          }
          .absolute{
            font-family: $font-family-gothic !important;
            font-size: 20px;
            position: absolute;
            color: $black-color;

            bottom: -27px;
            font-weight: bold;
            p {
              font-size: 35px;
              letter-spacing: 10px;
              line-height: 120%;
            }

            .title-j {
              display: inline-block;
              background: $black-color;
              letter-spacing: 10px;
              color: $white-color;
              line-height: 30px;
            }
          }

          @include only-for-pc(){/* note: @content begins here */
          }/* @content ends */
        }
      }
    }
  }
}