.home{
  .main{
    min-height: 175px;
    margin-bottom: 60px;
    .title-lx{
      font-family: Oswald, sans-serif;
      background: #fff100;
      color: #fffa9d;
      display: block;
      font-size: 120px;
      min-height: 175px;
      width: 100%;
      .container .relative{
        position: relative;
        .info{
          margin-top: 50px;
          line-height: 95%;

          .title-e{
            margin-left: -5px;

          }
          @include only-for-pc(){/* note: @content begins here */
            .title-e{
              margin-left: -5px;
            }
          }/* @content ends */

          .absolute{
            font-family: $font-family-sans-serif !important;
            font-size: 20px;
            position: absolute;
            color: #111;
            bottom: -27px;
            font-weight: bold;
            //color: white;
            //bottom: -60px;
            p{
              //background: #000000;
              font-size: 35px;
              letter-spacing:10px;
              line-height: 120%;
            }

            .title-j{
              display: inline-block;
              background: #000000;
              letter-spacing:10px;
              color: white;
              line-height: 30px;
            }
          }

          @include only-for-pc(){/* note: @content begins here */
          }/* @content ends */
        }
      }
    }
  }
  @include only-for-pc() { /* note: @content begins here */
    .main {
      min-height: 175px;
      margin-bottom: 30px;
    }
  }
}