// Đường gạch dưới ==============================
%underline {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: $black-color;
    //padding-top: 24px;
    border-bottom: 0 solid $yellow-color;
    box-shadow: inset 0 -5px 0 $yellow-color;
    transition: background .15s cubic-bezier(.33, .66, .66, 1);
    display: inline;
}

// Đường gạch ngang =============================
%shape-8 {
    width: 100%;
    size: 30px;
    padding-top: 1px;
    margin: 8px 0 16px;
    background-color: $black-color;
    height: 2px solid;
}

.container-fluid.my-page {
    padding: 0
}

.col-sm-12.item.item-2 {
    margin-top: 20px;
}

// My page ======================================
.my-page {

    .thump {
        .img-icon {
            max-height: 200px;
        }
    }
    .fa.fa-heart-o.liked {
        color: pink !important;
    }

    .event-content {
        padding: 20px 0;
    }
    .article-status {
        line-height: 200%;
        font-size: small;
        font-weight: bold;
        color: $black-color;

        position: relative;
        display: inline-block;
        width: 100%;
        span {
            position: absolute;
            max-height: 22px;
            max-width: 101px;
            color: #fff;
            font-size: 13px;
            top: -3px
        }

        hr {
            margin: 8px 0 16px !important;
            height: 0px !important;
            background-color: #DCDCDC !important;
            width: 100%;
            size: 30px;
            padding-top: 1px;
        }

        img {
            position: absolute;
            max-height: 24px;
            max-width: 101px;
            top: 0;
        }

        img.events {
            top: -8px;
        }

        span.events {
            top: -12px
        }
    }

    .article-content {
        margin-top: 30px !important;

        .content-left {
            img {
                border-radius: 14px;
                max-height: 230px;
                max-width: 330px;
                width: 100%;
                height: 100%;
            }
        }

        .content-right {
            @include only-for-mobile() {
                margin-top: 20px;
            }

            .icon-favorite,
            .date {
                text-align: right;
            }

            .title {
                font-weight: bold;
                a {
                    color: #111;
                    text-decoration: none;
                }
                span {
                    font-weight: normal;
                    font-size: 13px;
                }
            }
        }
    }
   

    @include standard-font();
    color: $text2-color;
    font-family: "Kozuka Gothic Pr6N";

    //Group-0
    .how-to-use {
        .a-user {
            float: right;

            .fa {
                font-size: large;
                color: $black-color;
            }

            .a-user-text {
                color: $text2-color;
            }
        }
    }

    .select-month {
        font-family: Oswald, sans-serif;
        //display: block;
        text-align: center;
        //font-size: 60px;
        color: $black-color;

        .fa {
            cursor: pointer;
        }

        .icon-next {
            color: #d2d2d2;
            cursor: auto;
        }
    }

    .info-1 {
        padding: 48px 80px 0 80px;
        @include only-for-mobile() {
            padding: 20px;
        }
        .memo {
            .memo-text {
                padding-bottom: 16px;

                .underline {
                    @extend %underline;
                    font-family: $font-family-oswald;
                    font-size: 36px;
                    box-shadow: inset 0 -15px 0 $yellow-color;
                    
                }
            }

            .memo-input {
                padding-top: 8px;

                input {
                    width: 100%;
                    border: none;
                }
            }
        }

        .shape-8 {
            @extend %shape-8;
        }

        .log {
            .log-text {
                //padding-bottom: 10px;
                padding-top: 24px;

                .underline {
                    @extend %underline;
                    box-shadow: inset 0 -10px 0 $yellow-color;
                    padding-top: 20px;
                    
                }
            }

            .log-input {
                padding-top: 10px;

                input {
                    width: 100%;
                    border: 2px solid $black-color;
                    border-radius: 30px;
                    padding: 10px 20px;
                }
            }
        }
    }

    .panel-info {
        padding-top: 32px;

        .panel-info-wrapper {

            .panel-info-content {
                position: relative;
                @include panel-font();
                padding: 8px;
                margin-bottom: 20px;
                border-radius: 10px;
                height: 236px;
                @include only-for-mobile() {
                    height: 150px;
                    font-size: 12px;
                }
                >.number {
                    position: absolute !important;
                    z-index: 1;
                    left: 20px;
                    bottom: 24px;
                    font-family: Oswald, sans-serif;
                    font-size: 100px;
                    color: $white-color;
                    @include only-for-mobile() {
                        left: 4px;
                        bottom: 10px;
                        font-size: 50px;
                    }
                }

                .mypage-text {
                    position: relative !important;
                    z-index: 2;
                    padding: 24px 24px 16px;
                    text-align: justify;
                    @include only-for-mobile() {
                        padding: 0
                    }
                    .edit-input-lable_1,
                    .edit-input-lable, {
                        background: none;
                        border: none;
                        width: 100%;
                        height: 175px;
                        resize: none;
                    }
                }

                >.edit {
                    position: absolute;
                    color: #ababab;
                    text-align: right;
                    cursor: pointer;
                    right: 9px;
                    bottom: 0;
                    font-size: 14px;
                    z-index: 111;
                }
            }

            .event-image {
                img {
                    width: 100%;
                    height: 236px;
                    border-radius: 10px;
                    background-size: 100% 100%;
                    @include only-for-mobile() {
                        height: 150px;
                        font-size: 12px;
                    }
                }

                .favorite.edit {
                    .fa-pencil {
                        position: absolute;
                        right: 20px;
                        bottom: 27px;
                        cursor: pointer;
                        font-size: 14px;
                    }
                }

                .description {
                    position: absolute;
                    left: 70px;
                    bottom: 70px;
                    background-color: #111;
                    padding: 0px;
                    line-height: 1;
                    font-size: 24px;
                    color: #ffffff;
                    @include only-for-mobile() {
                        left: 16px;
                        font-size: 12px;
                        bottom: 50px;
                    }
                }
            }
        }

    }

    .info-2 {
        padding: 32px 80px 0 80px;
        @include only-for-mobile() {
            padding: 20px;
        }
        .my-theme {
            .my-theme-text {
                padding-bottom: 10px;

                .underline {
                    @extend %underline;
                    box-shadow: inset 0 -10px 0 $yellow-color;
                    
                }
            }

            .my-theme-input {

                //padding-top: 8px;
                input {
                    width: 100%;
                    border: none;
                }
            }
        }

        .shape-8 {
            @extend %shape-8;
            margin: 0 0 40px;
        }

        .action {
            .action-text {
                padding-bottom: 10px;

                .underline {
                    @extend %underline;
                    box-shadow: inset 0 -10px 0 $yellow-color;
                }
            }

            .action-input {
                input {
                    width: 100%;
                    border: none;
                }
            }
        }
    }

    //Group-1
    .main {
        background-color: $yellow-color;
        padding: 16px 0;
        margin-top: 25px;

        .group-1 {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;

            .category {
                //display: inline;
                padding: 32px 20% 0 20%;
                @include only-for-mobile() {
                    padding: 10px;
                }
                //background-color: red;
                .category-input {
                    .cb-category {
                        width: 100%;
                        border: 2px solid $black-color;
                        border-radius: 30px;
                        padding: 0 20px;
                        height: 56px;
                    }
                }

                .category-text {
                    font-size: 20px;
                    color: $black-color;
                    padding-top: 8px;
                    padding-left: 0;
                }
            }

            .content-text {
                padding-top: 48px;

                .item {
                    .wrapper {
                        position: relative;
                        background-color: $white-color;
                        border-radius: 20px;
                        padding: 32px 22px 22px;

                        .wrapper-status {
                            img {
                                position: absolute;
                                max-height: 24px;
                                max-width: 101px;
                                top: -10px;
                                left: 35px;
                            }

                            span {
                                position: absolute;
                                max-height: 24px;
                                max-width: 101px;
                                top: -13px;
                                left: 43px;
                                color: $white-color;
                                font-size: 12px;
                            }
                        }

                        .wrapper-icon {
                            width: 100%;
                            height: 100%;

                            //position: relative;
                            img {
                                width: 100%;
                                border-radius: 10px;
                                max-height: 180px;
                            }
                        }

                        .wrapper-content {

                            .icon-favorior,
                            .text-date {
                                text-align: right;
                            }

                            .icon-favorior {
                                padding-bottom: 24px;
                                a{
                                    color: pink;
                                }
                            }

                            .text-title {
                                padding-top: 24px;
                                color: $black-color;
                            }

                            .text-category,
                            .text-date {
                                font-size: small;
                            }
                        }
                    }
                }
            }

            .btn-category-list {
                padding: 32px 0 24px;

                button {
                    padding: 5px 30px;
                    border-radius: 30px;
                    -moz-border-radius: 30px;
                    -webkit-border-radius: 30px;
                    border: none;
                    background: $black-color;
                    color: $white-color;
                    font-weight: bold;
                    font-size: 24pt;
                    line-height: 40pt;
                    cursor: pointer;
                    //Đổ bóng phía dưới
                    box-shadow: 3px 3px 3px $yellow-color;
                    -moz-box-shadow: 3px 3px 3px $yellow-color;
                    -webkit-box-shadow: 3px 3px 3px $yellow-color;
                }
            }

        }
    }

    //Group-2
    .group-2 {
        margin-bottom: 150px;

        >.item {
            padding-top: 64px;

            .underline {
                @extend %underline;
                font-family: $font-family-oswald;
                font-size: 36px;
                box-shadow: inset 0 -15px 0 $yellow-color;
                @include only-for-mobile() {
                    font-size: 30px;
                }
            }
        }

        >.video1 {
            .video-title {}

            .video-content {
                padding-top: 32px;
                @include only-for-mobile() {
                    padding-top: 0;
                    position: relative;
                    top: -40px;
                }
                
                .video-list {
                    @include only-for-mobile() {
                        padding-right: 0;
                    }
                    .carousel-item {
                        @include only-for-mobile() {
                            padding-right: 0;
                        }
                    }
                }

                .img {
                    border-radius: 15px;

                }

                .title {
                    padding-top: 16px;
                    color: $black-color;
                    text-align: justify;
                }

                .attached {
                    color: $text2-color;
                    font-size: small;
                }
            }
        }

        >.event {
            .event-content .more-detail {
                top: 20px;
                position: relative;
                a {
                    color: $black-color;
                }
                @include title-font();
                color: $black-color;
            }
        }

        >.column {
            .article {
                width: 100%;
                padding-top: 32px;
                color: $black-color;

                img {
                    width: 100%;
                    height: auto;
                }

                .article-status {
                    line-height: 200%;
                    font-size: small;
                    font-weight: bold;
                    color: $white-color;

                    position: relative;
                    display: inline-block;
                    width: 100%;

                    .shape-8 {
                        @extend %shape-8;
                        margin: 8px 0 16px !important;
                        height: 0px !important;
                        background-color: #DCDCDC !important;
                    }

                    img {
                        position: absolute;
                        max-height: 24px;
                        max-width: 101px;
                        top: 0;
                    }

                    span {
                        position: absolute;
                        max-height: 24px;
                        max-width: 101px;
                        top: 0;
                        left: 5px;
                    }
                }

                .article-content {
                    padding-top: 8px;
                    @include title-font();

                    img {
                        border-radius: 15px;
                        -moz-border-radius: 15px;
                        /*Firefox*/
                        -webkit-border-radius: 15px;
                        /*Chrome và Safary*/
                    }

                    .content-left {
                        .image {
                            max-height: 230px;
                        }
                    }

                    .content-right {
                        @include only-for-mobile() {
                            padding-top: 8px;
                        }

                        .icon-favorite {
                            text-align: right;
                            padding-bottom: 24px;
                        }

                        .title {
                            font-size: 20px;
                            text-align: justify;
                        }

                        .category,
                        .date {
                            color: $text2-color;
                            font-size: small;
                            display: block;

                            @include only-for-pc() {
                                display: inline;
                            }
                        }

                        .date {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

#show-detail-mypage {
    .modal-content {
        .event-information-content {
            .mypage-number {
                position: absolute !important;
                z-index: 1;
                left: 0px;
                top: -57px;
                font-family: Oswald, sans-serif;
                font-size: 100px;
                color: #FFF100;
            }
            .mypage-text {
                .edit-input-lable{
                    width: 94%;
                    position: relative;
                    z-index: 123;
                    background: none;
                    border: none;
                    left: 26px;
                    height: 80px;
                    resize: none;
                }
            }
        }

        .title-detail {
            margin-top: 1px;
            background-image: url('/image/mypage/back-gr-modal.png');
            height: 52px;
            background-size: 100%;
            background-position: center;
            background-position-y: 0px;
            vertical-align: top;
            background-repeat: no-repeat;
            span {
                position: relative;
                top: 3px;
                font-weight: bold;
                font-size: 24px
            }
        }

        .detail-infor {
            .event-information-content {
                .edit-input-content {
                    width: 100%;
                    position: relative;
                    z-index: 123;
                    background: none;
                    border: none;
                    left: 26px;
                    height: 80px;
                    resize: none;
                    border-bottom: 1px solid;
                }
            }
        }

        .event-information-wrapper {
            .image-description,
            .file-image{
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}