.private {

  /* ========== End style title màu vàng =========== */

  @include standard_font();
  .tit{
    @include title-font();
    padding-bottom: 24px;
    .underline{
      border-bottom: 0 solid $yellow-color;
      box-shadow: inset 0 -5px 0 $yellow-color;
      transition: background .15s cubic-bezier(.33,.66,.66,1);
      display: inline;
    }
  }
  .txt{
    .policy{
      padding-top: 16px;
      .policy-title {
        @include title-font();
        color: $black-color;
        padding-top: 30px;

        border-bottom: 1px solid $yellow-color;
        box-shadow: inset 0 -10px 0 $yellow-color;
        transition: background .15s cubic-bezier(.33, .66, .66, 1);
        display: inline;
      }
      .policy-content {
        padding-top: 10px;
        color: $text2-color;
        white-space: pre-wrap;
        word-break: break-word;
      }
    }
  }
}

.privacy-page {
  .title-j {
    font-size: 6.5vw;
  }
}