.recruiment {

    /* ========== Style title màu vàng     =========== */
    .main {
        min-height: 175px;
        margin-bottom: 30px;

        @include only-for-mobile() {
            min-height: 75px;
        }

        .title-lx {
            font-family: $font-family-oswald;
            background: #fff100;
            color: #fffa9d;
            display: block;
            font-size: 120px !important;
            min-height: 175px;
            width: 100%;
            z-index: 111;
            height: 100%;

            @include only-for-mobile() {
                height: 120px;
                min-height: unset;
            }

            .container .relative {
                position: relative;

                .info {
                    margin-top: 50px;
                    line-height: 95%;

                    @include only-for-mobile() {
                        margin-top: 85px;
                        line-height: 1.5;
                    }

                    .title-e {
                        margin-left: -5px;
                        @include only-for-mobile() {
                            position: relative;
                            top: -140px;
                            font-size: 46px;
                        }
                    }

                    .absolute {
                        font-family: $font-family-gothic !important;
                        font-size: 20px;
                        position: absolute;
                        color: #111;

                        bottom: -27px;
                        font-weight: bold;
                        
                        @include only-for-mobile() {
                            bottom: 123px;

                        }

                        p {
                            font-size: 35px;
                            letter-spacing: 10px;
                            line-height: 120%;
                        }

                        .title-j {
                            display: inline-block;
                            background: #000000;
                            /* ========== sp =========== */
                            letter-spacing: 0px;

                            /* ========== pc =========== */
                            @include only-for-tab-pc() {
                                letter-spacing: 10px;
                            }

                            color: white;
                            line-height: 30px;
                        }
                    }

                    @include only-for-tab-pc() {
                        /* note: @content begins here */
                    }

                    /* @content ends */
                }
            }
        }
    }

    /* ========== End style title màu vàng =========== */

}


.requiment-staff {
    .top {
        @include only-for-tab-pc(){
            height: 400px !important;
        }
    }
}


.content-1.requiment {
    background: none;
    padding: 0
}

.container.content-1.requiment .content-1-title {
    @include only-for-tab-pc() {
        font-size: 36px !important;
        height: 500px !important;
        text-align: start !important;
    }
}

.requiment-staff .video .cb-path {
    margin-top: -60px;
}

.requiment-staff .corner-wrapper.movie-1 {
    height: 395px;
}

.requiment-staff .movie-top-text {
    font-size: 24px;
    font-weight: bold;
}

.requiment-staff .video-movie .corner-wrapper {
    padding-bottom: 5px
}

.requiment-staff .corner-wrapper img {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.requiment-staff .video-requiment {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.requiment-staff .video-requiment:after {
    content: "";
    background-color: #fff100;
    width: 100%;
    height: 78%;
    position: absolute;
    top: 17px;
    left: 0;
    z-index: -1;
}

.requiment-staff .video-requiment .container .video-detail,
.requiment-staff .container {
    padding: 0;
}

.requiment-staff .video-requiment .container .video-detail .col-md-9 {
    height: 100%
}

.requiment-staff .video-requiment .container .video-detail .video-movie {
    padding-right: 0
}

.requiment-staff .video-requiment .container a {
    color: #111;
    top: 20px;
    position: relative;
}

.requiment-staff .requiment-content {
    position: relative;
    margin-top: 160px;
    background-color: #fff100;
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
    font-size: 20px;
    line-height: 1;
    padding-bottom: 80px;
}

.requiment-staff .requiment-content .content-button a {
    display: inline-block;
    font-size: 16px;
    background: #111;
    padding: 25px 100px;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 15px;
}

.requiment-staff .requiment-slide {
    position: relative;
    top: 50px;
}

.requiment-staff .requiment-slide .carousel-indicators {
    justify-content: left;
    margin-left: 0;
    position: relative;
    bottom: 0;
}

.requiment-staff .requiment-slide .carousel-indicators .active {
    background-color: #848386;
}

.requiment-staff .requiment-slide .carousel-indicators li {
    background-color: #bbb8bd;
    width: 10px;
    height: 10px;
    border-radius: 20px;
}

.requiment-staff .requiment-slide {}

.requiment-staff .requiment-slide {}

.requiment-staff .carousel-control-prev-icon,
.requiment-staff .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 70% 89% !important;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #111 !important;

}

.carousel-control-prev,
.carousel-control-next {
    top: -30% !important;
    bottom: unset !important;
    opacity: 1 !important;
    width: 23px !important;
}

.carousel-control-next {
    text-align: right !important;
    display: block !important;
    right: 15px !important;
}

.carousel-control-prev {
    text-align: left !important;
    left: auto !important;
    right: 40px !important;
}

@media (min-width: 768px) {
    .carousel-item.active-next {
        display: flex;
    }
}

.requiment-staff .requiment-step {
    position: relative;
    top: 60px;
}

.requiment-staff .requiment-step .row.col-md-12 {
    position: relative;
    top: 40px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    left: 50px;
}

.requiment-staff .requiment-step .row.col-md-12:before {
    content: "貴社";
    background-color: #e5e5e5;
    width: 100%;
    height: 25%;
    position: absolute;
    top: 157px;
    left: -35px;
    z-index: -1;
    border-radius: 15px;
    padding: 38px 24px;
    font-weight: bold;
}

.requiment-staff .requiment-step .row.col-md-12:after {
    content: "弊社";
    background-color: #d1d1d1;
    width: 100%;
    height: 25%;
    position: absolute;
    top: 278px;
    left: -35px;
    z-index: -1;
    border-radius: 15px;
    padding: 45px 24px;
    font-weight: bold;
}

.requiment-staff .requiment-step .col-md-3 {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border: 2px solid;
    border-radius: 15px;
    text-align: center;
    margin: 0 20px;
    flex: 0 0 27%;
    max-width: 27%;
}

.requiment-staff .requiment-step .col-md-3 p.number {
    position: absolute;
    top: -30px;
    left: -34px;
    color: #fff100;
    font-size: 42px;
    background-color: #111;
    padding: 5px 17px;
    border-radius: 50px;
}

.requiment-staff .requiment-step .col-md-3 p {
    text-align: left;
}

.requiment-staff .requiment-step .col-md-3 p.row-2 {
    margin-top: 73px;
    margin-bottom: 55px;
}

.requiment-staff .requiment-step .col-md-3 p.text-title {
    position: relative;
    top: -33px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    min-height: 64px;
}

.requiment-staff .requiment-step .col-md-3.arrow:after {
    content: "";
    background-image: url(/image/requiment/arrow-1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 18%;
    position: absolute;
    justify-content: center;
    z-index: -1;
    left: -15.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    top: 41%;
    background-size: 15%;

}

.requiment-staff .requiment-step .image-step {
    position: relative;
    top: -40px;
    background-color: #fff;
}

.requiment-staff .requiment-convertion {
    position: relative;
}

.requiment-staff .requiment-convertion .convertion {
    max-width: 60%;
    width: 100%;
    position: relative;
    left: -73px;
    top: 55px;
    background: #fff;
    padding: 40px 0 25px 25px;
    border-radius: 15px;
    height: 80%;
}

.requiment-staff .requiment-convertion .convertion.convertion-2 {
    left: 73px;
    z-index: 1;
}

.requiment-staff .requiment-convertion .row.row-2 {
    position: relative;
    top: 30px;
    margin-bottom: 50px;
}

.requiment-staff .requiment-convertion .image.image-2 {
    border-radius: 29px;
}

.requiment-staff .requiment-convertion .image {
    width: 100%;
    border-radius: 15px;
}

.requiment-staff .requiment-convertion .title-convertion {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-size: 18px;
    font-weight: bold;
}

.requiment-staff .requiment-convertion .title-convertion:after {
    content: "";
    background-color: #fff100;
    width: 80%;
    height: 55%;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: -1;
}



.section-body {
    margin: 20px auto 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
    -webkit-transition: opacity ease 0.8s 0.2s, -webkit-transform ease 0.8s 0.2s;
            transition: opacity ease 0.8s 0.2s,         transform ease 0.8s 0.2s;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

/**
 * LP - uservoice
 */

#uservoice_list {
    padding: 0px;
    position: relative;
}

#uservoice_list li {
    position: relative;
    list-style: none;
}

#uservoice_list li:not(:first-child) {
    margin-top: 30px;
}

#uservoice_list li a {
    display: block;
    text-decoration: none;
}

#uservoice_list li a:after {
    content: "";
    display: block;
    clear: both;
}

#uservoice_list li img {
    width: 580px;
    position: absolute;
    top: 0;
    border-radius: 15px;
}

#uservoice_list li .list-content {
    max-width: 630px;
    margin: 70px auto;
    position: relative;
    z-index: 2;
    text-align: center;
}

// #uservoice_list li .list-content:before {
//     content: "";
//     position: absolute;
//     top: 15px;
//     bottom: -15px;
//     left: 15px;
//     right: -15px;
//     z-index: -1;
//     border: 2px dashed #000;
// }

#uservoice_list li .list-content .inner {
    padding: 50px 30px;
    background: #fff;
    border-radius: 15px;
    color: #111;
}

#uservoice_list li .list-content h3:before,
#uservoice_list li .list-content h3:after {
    padding: 10px;
    position: absolute;
    line-height: 1;
    font-size: 50px;
}

#uservoice_list li .list-content h3:before {
    content: "";
    top: 17px;
    left: -19px;
    background-image: url(/image/requiment/before.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7%;
    height: 17%;
}

#uservoice_list li .list-content h3:after {
    content: "";
    bottom: 0px;
    right: -20px;
    background-image: url(/image/requiment/affter.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 7%;
    height: 17%;
}

#uservoice_list li .list-content h3 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
    background-image: url('/images/user/requiment/background.png');
    background-repeat: no-repeat;
    background-position: center;
}

#uservoice_list li .list-content p {
    line-height: 1.8;
    font-size: 16px;
    text-align: left;
}

#uservoice_list li .list-content p:not(:first-child) {
    margin-top: 15px;
}

#uservoice_list li .list-content .link_more {
    margin-top: 20px;
    display: inline-block;
    font-size: 11px;
    text-decoration: underline;
}

#uservoice_list li a:hover .list-content .link_more {
    text-decoration: none;
}

#uservoice_list li:nth-child(odd) .list-content {
    float: right;
    
}

#uservoice_list li:nth-child(even) .list-content {
    float: left;
}

#uservoice_list li:nth-child(odd) img {
    left: 0;
}

#uservoice_list li:nth-child(even) img {
    right: 0;
}


@media screen and (max-width: 1200px) {
    #uservoice_list li:not(:first-child) {
        margin-top: 50px;
    }
    
    #uservoice_list li img {
        position: static;
    }
    
    #uservoice_list li .list-content {
        margin: -180px auto 0;
    }
    
    #uservoice_list li:nth-child(odd) .list-content,
    #uservoice_list li:nth-child(even) .list-content {
        float: right;
    }
    
    #uservoice_list li:nth-child(odd) img,
    #uservoice_list li:nth-child(even) img {
        float: left;
    }
}

@media screen and (max-width: 900px) {
    #uservoice_list li:nth-child(odd) .list-content,
    #uservoice_list li:nth-child(even) .list-content {
        float: none;
        margin-top: 15px;
    }
    
    #uservoice_list li:nth-child(odd) img,
    #uservoice_list li:nth-child(even) img {
        margin: 0 auto;
        display: block;
        float: none;
        width: 100%
    }
}

@media screen and (max-width: 700px) {
    #uservoice_list {
        padding: 15px 15px 30px;
    }
    
    #uservoice_list:before,
    #uservoice_list:after {
        width: 60px;
    }
    
    #uservoice_list:before {
        top: 10px;
        left: -20px;
    }
    
    #uservoice_list:after {
        bottom: 10px;
        right: -20px;
    }
    
    #uservoice_list li .list-content {
        max-width: none;
        margin: -50px 20px 0;
    }
    
    #uservoice_list li .list-content .inner {
        padding: 20px;
    }
    
    #uservoice_list li .list-content h3 {
        font-size: 13px;
    }

    #uservoice_list li .list-content h3:before,
    #uservoice_list li .list-content h3:after {
        font-size: 30px;
    }
    
    #uservoice_list li .list-content p br {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #uservoice_list li .list-content {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #uservoice_list li .list-content .inner {
        padding: 15px;
    }

    #uservoice_list li .list-content h3:before,
    #uservoice_list li .list-content h3:after {
        font-size: 20px;
    }
    
    #uservoice_list li .list-content h3:before {
        top: 6px;
    }

    #uservoice_list li .list-content h3:after {
        bottom: -15px;
    }

    .requiment-staff .requiment-step .col-md-3 {
        flex: 0 0 83%;
        max-width: 100%;
    }

    .requiment-staff .requiment-step .col-md-3.arrow {
        margin-top: 100px;
    }

    .requiment-staff .requiment-step .row.col-md-12:before, 
    .requiment-staff .requiment-step .row.col-md-12:after {
        width: 100%;
        height: 8%;
    }

    .requiment-staff .requiment-step .col-md-3.arrow:before {
        content: "貴社";
        background-color: #e5e5e5;
        width: 131%;
        height: 26%;
        position: absolute;
        top: 141px;
        left: -71px;
        z-index: -2;
        border-radius: 15px;
        padding: 43px 24px;
        font-weight: bold;
        text-align: left;
    }

    .container.content-1.requiment .content-1-title {
        font-size: 20px !important;
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        position: relative;
        right: 40px;
    }

    .requiment-staff .requiment-step .col-md-3.arrow:after {
        content: "弊社";
        background-color: #d1d1d1;
        width: 131%;
        height: 28%;
        position: absolute;
        top: 254px;
        left: -72px;
        z-index: -1;
        border-radius: 15px;
        padding: 45px 24px;
        font-weight: bold;
        display: block;
        text-align: left;
        background-image: none;
    }
    #modal_register .form-register-last h3{
        font-size: 22px;
    }
    #modal_register .form-register-last h3:after {
        content: "";
        background-color: #fff100;
        width: 100%;
        height: 75%;
        position: absolute;
        top: 15px;
        left: 0px;
        z-index: -1;
    }

}