.searchcategory .select-search {
    text-align: center;
    padding: 30px 0 60px 0;
}

.select-box.search {
    padding: 10px 37% 15px 25px;
    border: 1px solid;
    border-radius: 18px;
}

.searchcategory .title-event {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-weight: bold;
    margin-left: 15px;
    font-size: 36px;
}

.searchcategory .title-event:after {
    content: "";
    background-color: #fff100;
    height: 28%;
    position: absolute;
    top: 24px;
    left: 0;
    z-index: -1;
    width: 100%;
}

.row-category {
    width: 100%;
    text-align: center;
    position: relative;
    top: -30px;
    background-color: #f3f3f3;
    padding: 46px;
    z-index: 0;
}

.absolute-2 {
    position: relative;
    z-index: 2;
}

.carousel-control-prev, .carousel-control-next {
    top: 0 !important;
}

.video-search .carousel-control-prev,.video-search .carousel-control-next {
    top: -20px !important;
}

.column-search.event,
.video-search.video,
.event-search.event,
#carouselExampleevent123 {
    width: 100%,
}

.data-not-found {
    padding:  30px;
    color: #d2d2d2;
}

.article-list .text-category {
    background: #000000;
    padding: 0px;
    border-radius: 0 0 8px 8px;
    margin-left: 20px;
    color: #fff;
    min-width: 100px;
    height: 30px;
    font-size: 12px;
    z-index: 9;
    position: relative;
    max-width: 135px;
    text-align: center;
}

.article-list .text-category:before {
    content: "";
    width: 5004%;
    height: 1px;
    background: #d4d2d2;
    top: 15px;
    left: 135px;
    position: absolute;
    z-index: -2;
}

.article-list .text-category:after {
    content: "";
    top: -23px;
    position: relative;
    left: 47px;
    width: 0;
    height: 0;
    border-bottom: 17px solid #c6c6c6;
    border-right: 9px solid transparent;
} 

.article-list .text-category.last{
    background: #fff100;
    color: #000;
    font-weight: bold;
}

.article-list .text-category.last:after {
    top: -68px;
    position: relative;
    left: 72px;
}

.article-content .content-right .icon-favorite {
    cursor: pointer;
    color: #d2cfcf;
}

.article-content .content-right .icon-favorite .liked {
    color: pink;
}

.article-content .category {
    display: none;
}

@media (max-width: 426px) {

    .article-content .category {
        display: block;
    }

    .article-content .title p {
        display: none;
    }

    .select-box.search {
        padding: 10px 65px 15px 25px;
        width: 100%;
    }

    .title-e {
        font-size: 55px;
    }

    .home .main .title-lx {
        height: 100px;
        min-height: 100px;
    }

    .home .main .title-lx .container .relative .info {
        margin-top: 0;
        line-height: 0.2;
    }
    
    .row-category{
        top: -134px;
        background-color: #fff;
        padding: 45px 15px;
    }
    
    .row.searchcategory {
        top: -110px;
        position: relative;
    }

}
    .row.searchcategory .row{
        margin: 10px 0
    }