.container.searchcategory {
    >.row {
        @include only-for-mobile() {
            padding: 15px;
        }
    }
    .article-list {
        @include only-for-mobile() {
            padding-right: 0
        }
    }

    .video-search.video {
        @include only-for-mobile() {
            margin-left: 0
        }
        .video-list {
            @include only-for-mobile() {
                padding-right: 0; 
            }
        }
    }
}
.content-search {
    .underline-text {
        margin-left: 0;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 30px;
        @include only-for-mobile() {
            font-size: 24px;
        }
    }
    .video-list {
        @include only-for-mobile() {
            margin: 40px auto 0;
        }
    }
}

.searchcategory {
    .image-category {
        width: 12.5%;
        padding: 30px 10px 50px;
        @include only-for-mobile() {
            width: 25%;
            padding: 5px;
          z-index: 1;
        }
        img {
            width: 100%;
            cursor: pointer;

            &:hover, &.selected {
               -webkit-filter: invert(1);
                filter: invert(1);
            }
        }
    }

    /* ========== Style title màu vàng     =========== */
    .main {
        min-height: 175px;
        margin-bottom: 30px;

        .title-lx {
            font-family: $font-family-oswald;
            background: #fff100;
            color: #fffa9d;
            display: block;
            font-size: 120px !important;
            min-height: 175px;
            width: 100%;
            z-index: 111;
            height: 100%;

            .container .relative {
                position: relative;

                .info {
                    margin-top: 50px;
                    line-height: 95%;

                    .title-e {
                        margin-left: -5px;
                    }

                    .absolute {
                        font-family: $font-family-gothic !important;
                        font-size: 20px;
                        position: absolute;
                        color: #111;

                        bottom: -27px;
                        font-weight: bold;

                        p {
                            margin-bottom: 0;
                            font-size: 35px;
                            letter-spacing: 10px;
                            line-height: 120%;
                        }

                        .title-j {
                            display: inline-block;
                            background: #000000;
                            letter-spacing: 10px;

                            color: white;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }

    @include only-for-mobile() {
        .main {
            min-height: 75px;

            .title-lx {
                height: 120px;
                min-height: unset;

                .container .relative {
                    position: relative;

                    .info {
                        margin-top: 85px;
                        line-height: 1.5;

                        .title-e {
                            position: relative;
                            top: -57px;
                            font-size: 48px;
                        }

                        .absolute {
                            bottom: 50px;

                            p {
                            }

                            .title-j {
                                display: inline-block;
                                line-height: 40px;
                                letter-spacing: 3px;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }


    @include only-for-tab() {
        .main .title-lx .container .relative .info .title-e {
            font-size: 100px !important;
        }
        .main .title-lx .container .relative .info .absolute{
            bottom: -41px;
        }
    }
    /* ========== End style title màu vàng =========== */

    .select-search {
        text-align: center;
        padding: 30px 0 60px 0;
    }
}

.select-box.search {
    padding: 10px 37% 15px 25px;
    border: 1px solid;
    border-radius: 18px;
}


.row-category {
    width: 100%;
    text-align: center;
    position: relative;
    top: -30px;
    background-color: #f3f3f3;
    padding: 46px;
    z-index: 0;
}

.carousel.multi-item-carousel .carousel-inner .carousel-item-right.active,
.carousel.multi-item-carousel .carousel-inner .carousel-item-next {
    transform: translateX(100%);
}

.carousel.multi-item-carousel .carousel-inner .carousel-item-left.active,
.carousel.multi-item-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-100%)
}

.carousel.multi-item-carousel .carousel-inner .carousel-item-right,
.carousel.multi-item-carousel .carousel-inner .carousel-item-left {
    transform: translateX(0);
}


.carousel.multi-item-carousel .carousel-inner .carousel-item.active,
.carousel.multi-item-carousel .carousel-inner .carousel-item-next,
.carousel.multi-item-carousel .carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel.multi-item-carousel .video-detail.carousel-item .wrapper {
    width: 33.33%;
    margin-right: 5px;
}

.carousel.multi-item-carousel .video-detail.carousel-item .wrapper .thump {
    height: 175px;
}

.carousel-control-prev,
.carousel-control-next {
    top: -22px !important;
    .carousel-control-prev-icon {
        background-image: url('/images/user/top/arrow_prev.png');
        width: 35px;
        height: 35px;
        border: none;
        background-color: transparent !important;
        background-size: 100% !important;
        position: relative;
        top: -15px;
    }
    .carousel-control-next-icon {
        background-image: url('/images/user/top/arrow_next.png');
        width: 35px;
        height: 35px;
         border: none;
        background-color: transparent !important;
        background-size: 95% !important;
        position: relative;
        top: -15px;
        right: -7px;
    }
}

.video-search .carousel-control-prev,
.video-search .carousel-control-next {
    top: -35px !important;
}


.searchcategory .video .description p {
    min-height: 28px;
}

.searchcategory .video-search.video .video-title.sub-title {
    bottom: 8px;
}

.column-search.event,
.video-search.video,
.event-search.event,
#carouselExampleevent123 {
    width: 100%;
    margin-left:0
}

.data-not-found {
    padding: 30px;
    color: #d2d2d2;
}

.article-list .text-category {
    background: #000000;
    padding: 0px;
    border-radius: 0 0 8px 8px;
    margin-left: 20px;
    color: #fff;
    min-width: 100px;
    height: 30px;
    font-size: 12px;
    z-index: 9;
    position: relative;
    max-width: 135px;
    text-align: center;
}

.content-search .group-2 {

    .slick-track {
        margin-top: 45px;
    }
    
    .slick-prev.slick-arrow ,
    .slick-next.slick-arrow{
        
        position: absolute;
        top: 6%;
        display: block;
        width: 35px;
        height: 35px;
        padding: 0px;
        right: 48px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        z-index: 99;
        border: none;
    }

    .slick-next.slick-arrow{
        right: 10px;
        display: block !important;
        background-image: url(/images/user/top/arrow_next.png);
        background-size: 92%;
        background-color: transparent;
        background-repeat: no-repeat;
    }

    .slick-prev.slick-arrow{
        background-image: url('/images/user/top/arrow_prev.png');
        background-size: 100%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        top: 5%;
    }
}
.searchcategory {
    


    .article-list {
        padding: 0;
    }
    .article-content {
        margin-top: 30px !important;

        .content-left img {
            border-radius: 15px;
            max-height: 230px;
            width: 100%;
            object-fit: cover;
        }

        .content-right {
            @include only-for-mobile() {
                margin-top: 20px;
            }

            .icon-favorite,
            .date {
                text-align: right;
            }

            .title {
                font-weight: bold;
                a {
                    color: $black-color;
                    text-decoration: none;
                    font-size: 20px;
                }
                span {
                    font-weight: normal;
                    font-size: 13px;
                    &:before {
                        content: "#";
                        display: inline-block;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}

.article-list .text-category:after {
    content: "";
    top: -23px;
    position: relative;
    left: 47px;
    width: 0;
    height: 0;
    border-bottom: 17px solid #c6c6c6;
    border-right: 9px solid transparent;
}

.article-list .text-category.last {
    background: #fff100;
    color: #000;
    font-weight: bold;
}

.article-list .text-category.last:after {
    top: -68px;
    position: relative;
    left: 72px;
}

.article-content .content-right .icon-favorite {
    cursor: pointer;
    color: #d2cfcf;
}

.article-content .content-right .icon-favorite .liked {
    color: pink;
}

.article-content .category {
    display: none;
}

.top .article-list .text-category {
    margin-left: 0
}

.video ,.searchcategory{
    @media (max-width: 426px) {
        .container {
            margin-top: -85px;
        }

        .carousel.multi-item-carousel .video-detail.carousel-item .wrapper {
            width: 100%
        }

        .article-content .category {
            display: block;
        }

        .article-content .title span {
            display: none;
        }

        .select-box.search {
            padding: 10px 65px 15px 25px;
            width: 100%;
        }

        .title-e {
            font-size: 49px;
        }

        .row-category {
            // top: -134px;
            background-color: #fff;
            padding: 45px 15px;
        }

        .row.searchcategory {
            //top: -110px;
            position: relative;
        }

    }
}

.row.searchcategory .row {
    margin: 10px 0
}


@media screen and (max-width: 575.98px){
  .carousel-control-prev .carousel-control-next-icon, .carousel-control-next .carousel-control-next-icon{
    right: 0px !important;
  }
}