header {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 9;
    font-weight: bold;
}

header .bx_header {
    display: flex;
    justify-content: space-between;
    z-index: 999
}

.bx_header .hd_left {
    // padding-left: 60px;
}

.nav {
    margin-top: 40px;
}

.nav li {
    list-style: none;
    margin-bottom: 27px;
}

.nav li a {
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    color: #232323;
    text-transform: uppercase;
}

.bx_header .hd_right {
    /*padding-right: 76px;*/
}

.btn_find {
    font-size: 18px;
    line-height: 1;
    background-color: #fff100;
    border: 1px solid #fff100;
    ;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #232323;
    position: fixed;
    top: 55px;
    right: 76px;
    z-index: 1000;
}

.btn_find:hover {
    text-decoration: none;
    opacity: 0.7;
}

main {
    background-color: #fff;
    padding-top: 100px;
}

.banner {
    position: relative;
    width: 100%;

    figure {
        text-align: center;
        position: inherit;
        width: 100%;

        &>img {
            width: 86%;
            height: auto;
            margin: 0 auto;
        }
        
        figcaption {
            position: absolute;
            top: 20%;
            right: 50px;
            line-height: 7;
            text-align: -webkit-auto;
            &.first{
                top: 15%;
            }
            .title{
                @include mainvisual-font(36px, 160%);
                font-weight: bold;
                width: 80px;
                font-size: 36px;
                line-height: 160%;
                padding: 3px 10px;
                margin: 1px;
                letter-spacing: 0px;
            }
            .description{
                font-size: 12px;
                position: relative;
                padding: 5px 0;
                font-family: $font-family-oswald;

                @include only-for-tab-pc() {
                    -webkit-text-orientation: mixed;
                    text-orientation: mixed;
                }
            }

            @include only-for-mobile() {
                position: static;
                margin-top: -20px;
                font-size: 20px;
                width: 100%;
                .title, .description {
                    width: 100%;
                }
                .description {
                    padding: 3px 10px;
                    line-height: 120%;
                }
            }
        }
    }

    a.scroll {
        font-size: 14px;
        line-height: 1;
        color: #232323;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
    }

    a.scroll::after {
        content: "";
        width: 1px;
        height: 145px;
        background-color: #000;
        position: absolute;
        bottom: -148px;
        left: 50%;
        transform: translateX(-50%);
    }
}


.dropdown-menu.show {
    border: none;
    text-align: center;
}

.link-my-page {
    position: relative;
    top: -65px;
    left: 16px;
    background-color: #000;
    color: #fff;
    padding: 24px 15%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 2px 0px 0px #fff100;
    width: 100%;
}

.carousel.multi-item-carousel .carousel-inner .carousel-item-right.active,
.carousel.multi-item-carousel .carousel-inner .carousel-item-next {
    transform: translateX(100%);
}

.carousel.multi-item-carousel .carousel-inner .carousel-item-left.active,
.carousel.multi-item-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-100%)
}

.carousel.multi-item-carousel .carousel-inner .carousel-item-right,
.carousel.multi-item-carousel .carousel-inner .carousel-item-left {
    transform: translateX(0);
}


.carousel.multi-item-carousel .carousel-inner .carousel-item.active,
.carousel.multi-item-carousel .carousel-inner .carousel-item-next,
.carousel.multi-item-carousel .carousel-inner .carousel-item-prev {
    display: flex;
}

.image-top {
    margin: 180px 10px 0px 10px !important;
    right: 0
}


.image-top .img-detail.last {
    margin-right: 0;
}


div.gallery {
    /*margin: 5px;*/
    border: 1px solid #ccc;
    /*float: left;*/
    /*width: 180px;*/
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
}

ul li a {
    margin-left: auto;
    margin-right: auto;
}


footer li {
    list-style: none;
}

footer a:hover,
footer a {
    color: #fff !important;
}

footer .link-hatachi {
    background-color: #d0c129;
    padding: 16px 31px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 50%;
}

.container-footer .row {
    padding-left: 50px;
}

footer .li-first {
    margin-bottom: 20px
}

footer .td-border {
    border-left: 1px solid #fff;
    margin-top: 6px;
}

footer .footer-bottom {
    float: right;
}

footer .footer-bottom li {
    padding-right: 0;
    padding-left: 5px;
}

@media (max-width: 1367px) {

    .banner figure figcaption .title{
        font-size: 33px;
    }
}


@media (max-width: 1000px) {

    .banner figure figcaption .title{
        font-size: 28px;
    }
}

@media (max-width: 800px) {

    .banner figure figcaption .title{
        font-size: 5.5vw;
    }
}

@media (min-width: 375px) and (max-width: 676px) {
    .container-footer .row {
        padding-left: 0;
    }

    .footer-bottom li {
        padding-left: 0
    }

    footer .td-border {
        display: none;
    }
}

.top {
    .banner {
        .round-button {
            margin: -20px auto 20px;
        }
    }
    .content-1 {
        .text-my-theme2 {

        }
    }
    .movie-top-2 {
        position: relative;
        .back-gr {
            display: none;
        }
        .c-col {
            margin: 0;
            width: 25%;
        }
        .p-text {
            font-size: 38px;
            font-weight: 700;
            color: $black-color;
            span {
                background-color: $yellow-color;
            }
        }

        .text-tittle {
            font-family: $font-family-oswald;
            color: $yellow-color;
            font-size: 58px;
            border-top: 4px solid $yellow-color;
        }

        .image {
            margin: 50px 20px 0;
            position: relative;
            text-align: right;
            height: 200px;
            .movie-image {
                width: 165px;
                height: 165px;
            }
            .text-tittle {
                position: absolute;
                bottom: 0;
                left: 0;
            }

            @include only-for-mobile() {
                margin: 50px 0 0;
                text-align: center;
            }
        }

        @include only-for-mobile() {
            .c-col {
                margin: 0 auto 20px;
                width: 100%;
            }
            .p-text {
                font-size: 26px;
                z-index: 2;
                position: relative;
                span {
                    font-size: 36px;
                }
            }
            .back-gr {
                display: block;
                position: absolute;
                top: -20px;
                right: -50px;
                width: 90%;
                z-index: 1;
            }
        }
    }

    .movie-top-3 {
        .content-tile-movie {
            font-size: 38px;
            font-weight: 700;
            color: $black-color;
            span {
                color: $white-color;
                background-color: $black-color;
            }
            .text-vertical-pc {
                @include only-for-tab-pc() {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 400px;
                }
            }

            .cb-path-black {
                top: 140px;
            }

            .content-row {
                top: 160px;
                width: 90%;
            }
        }

        @include only-for-mobile() {
            .content-tile-movie {
                font-size: 27px;
                span {
                    font-size: 36px;
                }

                .cb-path-black {
                    top: 100px;
                }

                .content-row {
                    top: 120px;
                }
            }
        }
    }

    .content-last {
        
    }

    .bottom.button-link {
        padding: 30px 0;
    }
}

@media (max-width: 768px){
    .top .movie-top-2 .flex-space-between-pc{
        height: 570px;
    }
    .top .movie-top-2 .p-text{
        font-size: 27px;
    }
    .top .movie-top-3 .content-tile-movie .text-vertical-pc{
        top: 17px;
        font-size: 27px;
    }
}
@media(max-width: 575.98px) {
    .top .movie-top-2 .flex-space-between-pc {
        height: 1160px;
    }
    .top .movie_image_description{
        font-size: 18px !important;
    }
    .top .container.movie-top-4{
        margin-top: -90px !important;
    }
    .top .container.movie-top-4.content-2{
        position: relative;
        top: 100px;
    }
}

@media (max-width: 480px){
    .top .movie-top-2 .flex-space-between-pc {
        height: 1150px;
    }
    .top .container.movie-top-4 {
        margin-top: 5px !important;
    }
}