.video {
    position: relative;
    top: 50px;
}

.video .topnav .search-container {
    float: right;
    width: 100%;
    border: 1px solid;
    border-radius: 42px;
}

.video .topnav input[type=text] {
    padding: 4px;
    margin-left: 20px;
    font-size: 17px;
    width: calc(100% - 85px);
    border: none;
}

.video .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    background: none;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 50px;
}

.video #category_id {
    border: 1px solid;
    border-radius: 20px;
}

.video .thump .img-icon {
    width: 100%;
    border-radius: 13px;
}

.video .thump {
    position: relative;
}

.video .browse-details {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.video .browse-details::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.video .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}

.video .favorite i {
    color: #fff;
}

.video .favorite i.liked {
    color: pink;
}

.video .browse-details img {
    z-index: 9;
    position: relative;
}

.video .video-list {
    margin-top: 40px;
}

.video .video-detail {
    margin-top: 20px;
}

.video .description p{
    font-size: 16px;
    margin-top: 10px;
}

.video .description span{
    font-size: 12px;
}

.video .pagination {
    justify-content: center;
    -webkit-box-align: center;
}

.video .pagination .page-item .page-link {
    background-color: #d2d2d2; 
    color: #323233;
    border: #d2d2d2;
    border-radius: 15px;
    margin: 4px;
    padding: 5px 11px;
}
.video .pagination .page-item:first-child .page-link,
.video .pagination .page-item:last-child .page-link {
    background-color: transparent; 
    border: none;
    font-weight: bold;
}

.video .pagination .page-item.active .page-link {
    background-color: #fff100;
    border: #fff100;
}

@media screen and (max-width: 600px) {
    .video .topnav .search-container {
        float: none;
    }

    .video .topnav input[type=text],
    .video .topnav .search-container button {
        
    }

    video .topnav input[type=text] {
        padding: 4px;
        margin-left: 17px;
        font-size: 17px;
        width: calc(100% - 80px);
        border: none;
    }
}

    #modal_video .modal-content {
        width: 98% !important;;
    }
@media (max-width: 376px) {

    #modal_video .modal-content iframe {
        width: 100% !important;
        height: 100% !important;
    }

    .home .main .title-lx .container .relative .info .absolute p {
        font-size: 24px;
    }

    .home .main .title-lx .container .relative .info .absolute {
        bottom: -175px;
    }

    .video {
        top: 0px;
    }
}

.home .main .title-lx {
    z-index: 111;
}