.video {
    /* ========== Style title màu vàng     =========== */
    .main {
        min-height: 175px;
        margin-bottom: 30px;
        .title-lx {
            font-family: $font-family-oswald;
            background: $yellow-color;
            color: #fffa9d;
            display: block;
            font-size: 120px !important;
            min-height: 175px;
            width: 100%;
            @include only-for-mobile(){
                height: 100px;
                min-height: unset;
            }
            .container .relative {
                position: relative;
                .info {
                    margin-top: 10px;
                    line-height: 95%;

                    .title-e {
                        margin-left: -5px;
                        @include only-for-mobile(){
                            position: relative;
                            top: 70px;
                        }
                    }
                    .absolute {
                        font-family: $font-family-gothic !important;
                        font-size: 20px;
                        position: absolute;
                        color: $black-color;
                        bottom: -70px;
                        font-weight: bold;
                        @include only-for-mobile(){
                            bottom: -110px
                        }
                        p {
                            font-size: 35px;
                            letter-spacing: 10px;
                            line-height: 120%;

                            @include only-for-mobile(){
                                font-size: 20px;
                            }
                        }

                        .title-j {
                            display: inline-block;
                            background: $black-color;
                            /* ========== sp =========== */
                            letter-spacing: 0px;
                            /* ========== pc =========== */
                            @include only-for-tab-pc() {
                                letter-spacing: 10px;
                            }
                            color: $white-color;
                            line-height: 30px;
                        }
                    }

                    @include only-for-tab-pc() { /* note: @content begins here */
                    }
                    /* @content ends */
                }
            }
        }
    }
    /* ========== End style title màu vàng =========== */
    position: relative;
    top: 50px;
}

.video .topnav .search-container {
    float: right;
    width: 100%;
    border: 1px solid;
    border-radius: 42px;
}

.video .topnav input[type=text] {
    padding: 4px;
    margin-left: 20px;
    font-size: 17px;
    width: calc(100% - 85px);
    border: none;
}

.video .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    background: none;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 50px;
}

.video #category_id {
    border: 1px solid;
    border-radius: 20px;
}

.video .thump .img-icon {
    width: 100%;
    border-radius: 13px;
    height: 100%;
    max-height: 167px;
    object-fit: cover;
}

.video .thump {
    position: relative;
    height: 100%
}

.top .video .video-detail .wrapper {
    height: 100%
}

.video .browse-details {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.video .video-title {

    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    padding: 15px 30px;
    margin: 0;

    @include only-for-mobile() {
        padding: 5px 15px;
    }
}

.video .video-title.sub-title {
    padding: 5px 20px;
    font-size: 13px;
    border-radius: 0 0 13px 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video .description p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}

.video .favorite i {
    color: #fff;
}

.video .favorite i.liked {
    color: pink;
}

.video .browse-details img {
    z-index: 9;
    position: relative;
    width: 55px
}

.video .video-list {
    margin-top: -37px;
    -webkit-align-items: stretch; /* Safari */
    align-items:         stretch;
}

.video .video-list.list-video-tall{
    margin-top: 40px;
}

.video .video-detail {
    margin-bottom: 10px;
    position: relative;
    // padding-bottom: 10px;
}

.video .description p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.video .description {
    padding-bottom: 10px;
    min-height: 50px;
}

.video .video-detail span{
    // position: absolute;
    // bottom: 0;
    font-size: 12px;
}

.video .paging {
    //for sp
    padding: 32px 0 !important;
    //for pc
    @include only-for-tab-pc(){
        padding: 32px 0 0 !important;
    }

    .pagination {
        justify-content: center;
        -webkit-box-align: center;
    }
    .pagination .page-item .page-link {
        background-color: #d2d2d2;
        color: #323233;
        border: #d2d2d2;
        //for sp
        border-radius: 19px;
        margin: 4px;
        padding: 2px 11px;
        //for pc
        @include only-for-tab-pc(){
            border-radius: 35px;
            margin: 10px;
            padding: 8px 17px;
        }
    }
    .pagination .page-item:first-child .page-link,
    .pagination .page-item:last-child .page-link {
        background-color: transparent;
        border: none;
        font-weight: bold;
    }
    .pagination .page-item.active .page-link {
        background-color: #fff100;
        border: #fff100;
    }
}
//.video .pagination {
//    justify-content: center;
//    -webkit-box-align: center;
//}
//
//.video .pagination .page-item .page-link {
//    background-color: #d2d2d2;
//    color: #323233;
//    border: #d2d2d2;
//    border-radius: 15px;
//    margin: 4px;
//    padding: 5px 11px;
//}
//.video .pagination .page-item:first-child .page-link,
//.video .pagination .page-item:last-child .page-link {
//    background-color: transparent;
//    border: none;
//    font-weight: bold;
//}
//
//.video .pagination .page-item.active .page-link {
//    background-color: #fff100;
//    border: #fff100;
//}

.top .video .video-detail,
.top .video .video-list {
    margin-top: 0;
    height: 100%;
}

#modal_video {
    .modal-dialog {
        width: 90%;
        max-width: 1000px;
        height: auto;
        .modal-content {
            width: 100%;
            max-width: 1000px;
            height: auto;
        }

        .modal-body {
            iframe {
                width: 100% !important;
                height: auto !important;
                max-width: 1000px;
                min-height: 450px;
            }
        }

        .share {
            text-align: left;
            color: #aeaeae;
            margin-top: 13px;
            font-size: 15px;
            a {
                color: #aeaeae;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .video .topnav .search-container {
        float: none;
    }

    .video .topnav input[type=text],
    .video .topnav .search-container button {
        
    }

    video .topnav input[type=text] {
        padding: 4px;
        margin-left: 17px;
        font-size: 17px;
        width: calc(100% - 80px);
        border: none;
    }

    #modal_video .modal-content {
        width: 98% !important;;
    }

    .video .pagination {
        padding: 30px 0;
    }
}

@media (max-width: 426px) {

    #modal_video .modal-content iframe {
        width: 100% !important;
        height: 100% !important;
    }
    
    .container.video {
        margin-top: unset;
    }
    //.home > .main > .title-lx > .container > .relative > .info .absolute p {
    //    font-size: 24px;
    //}
    //
    //.home .main .title-lx .container .relative .info .absolute {
    //    bottom: -175px;
    //}

}
.video {
    top: 0px;
    padding-top: 23px;
}

.video-content.video {
    padding-top: 0;
}

.home .main .title-lx {
    z-index: 111;
}
