
footer {
    padding: 45px 54px 30px 55px;
    background-color: $black-color;
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 13px;
    line-height: 2;
    margin-top: 100px;

    .logo {
        width: 230px;
    }

    .link-assosial {
        .line, .youtube {
            img {
                height: 23px;
            }
        }
    }

    .border-footer{
        border-top: 1px solid #656464;
        margin-top: 15px;
        padding: 10px;
    }

    .text-bootom {
        width: 100%;
        text-align: center;
    }

    .icon-link.first {
        margin-left: 15px;
    }

    .icon-link {
        margin-right: 20px;
    }

    .text-bootom a {
        padding-left: 14px;
        cursor: pointer;
        text-decoration: none;
    }

    .text-bootom .a-link:after {
        content: "";
        top: 0;
        left: 0;
        border-right: 1px solid #656464;
        padding: 0 14px;
    }


    .footter-mobile .a-first {
        cursor: context-menu;
    }
}

.logo-footer p {
    margin-bottom: 0
}

@media (max-width: 427px) {

    footer {
        padding: 30px;
        font-size: 12px;
        margin-top: 40px;

        .icon-link {
            margin-right: 13px;
        }

        .footter-mobile {
            width: 50%;
        }

        .link-assosial {
            position: relative;
            bottom: -85px;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        .link-assosial.logined {
            bottom: -20px;
        }

        .link-assosial:after {
            content: "";
            background-color: #656464;
            width: 90%;
            height: 1px;
            position: absolute;
            top: -11px;
            left: 15px;
            z-index: -1;
        }

        .border-footer {
            position: relative;
            top: -30px;
        }

        .row.footer-bootom {
            position: relative;
            top: -51px;
        }

        .text-bootom .a-link:after {
            padding: 0 8px;
        }

        .text-bootom a {
            padding-left: 10px;
            font-size: 12px;
        }

        .li-first img {
            width: 100%
        }

        .li-first {
            padding: 30px 30px 0 30px;
        }
        .text-bootom {
            position: relative;
            top: 17px;
        }
    }
}