
@include only-for-tab-pc() {
    #top {
        .fixed-header {
            display: none;
        }
    }
}
@include only-for-mobile() {
    .top-header {
        display: none;
    }
}

.fixed-header {
    .nav-link {
        padding: 0;
        &.link-append.show-modal-register-mypage {
            display: block;
            margin: 0px;
        }
    }

    .find-theme {
        background-color: $black-color;
        a {
            color: $white-color !important;
        }
        @include only-for-mobile() {
            background-color: $white-color;
            padding: 3px ;
            a {
                display: block;
                background-color: $black-color;
                color: $white-color !important;
            }
        }
    }
}

.navbar-brand {
    width: 40%;
}
.navbar-nav.mr-auto {
    width: 100%;
    justify-content: flex-end;
}
.navbar-nav {
    li {
        height: 80px;
        line-height: 80px;
    }

    .dropdown-menu {
        .dropdown-item {
            line-height: 40px;
        }
    }

    .dropdown-menu {
        .dropdown-item {
            line-height: 40px;
        }
    }
}
.top-header {
    .navbar-nav {
        li {
            height: 40px;
            line-height: 40px;
        }
    }
}
.nav-item .nav-link {
    cursor: pointer;
    font-size: 16px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1.0rem;
}


.logo {
    &.navbar-brand {
        a {
            color: #000;
            text-decoration: none;

            p {
                margin-bottom: 0
            }
            img {
                width: 270px;
            }
        }
        span {
            display: inline-block;
            margin-left: 10px;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

#myHeader.fixed .navbar-brand p {
    position: absolute;
    left: 200px;
    top: 24px;
    font-size: 16px;
}

#myHeader .bx_header {
    position: relative;
    top: -110px !important;
}

#myHeader.fixed .bx_header {
    top: 0 !important;;
}

.dropdown-menu.show {
    border-radius: 1.0rem;
    box-shadow: 1px 1px 8px 1px rgba(50, 49, 49, 0.39) !important;
}

.dropdown-menu.show:before {
     @include only-for-tab-pc() {
        content: "";
        width: 45px;
        height: 30px;
        position: absolute;
        top: -17px;
        background-image: url(/images/user/top/dropdown.png);
        background-size: 75%;
        background-repeat: no-repeat;
        left: 105px;
    }
}

.flex-column .navbar-brand {
    // margin-right: -9rem !important;
}

.dropdown-divider {
    margin: 0.5rem auto !important;
    width: 80%;
}

.header .nav.justify-content-end,
.header .navbar-expand-lg {
    width: 100%;
}

.header .nav li {
    list-style: none;
    margin-bottom: 20px;
    padding: 0 20px;
}

header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(50, 49, 49, 0.39);
    z-index: 999;
    min-height: 80px;

    &.header {
        .bx_header {
            padding: 0;
            @include only-for-mobile() {
                align-items: normal;
                height: unset;
            }
        }

        .navbar.navbar-expand-lg.navbar-light {
            padding: 0 0 0 1em;
            margin-bottom: 0;
        }

        .navbar.navbar-expand-lg.navbar-light p {
            margin-bottom: 0;
            font-weight: bold;
            font-size: 16px;
            position: relative;
            top: 15px;
            left: 20px;
        }

        .logo.navbar-brand {
            margin: 0;
            padding: 25px 0 0;
        }
    }

    .logo.navbar-brand img {
        max-width: 190px;
        max-height: 40px;
    }


    header.fixed .bx_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
    }

    .bx_header .hd_left {
        width: 100%;
        display: flex;
        align-items: center;
        /*height: 80px;*/
    }

    .bx_header .hd_left .logo img {
        width: 200px;
        height: 65px;
    }

    .bx_header .hd_left .navbar-nav,
    .bx_header .hd_left .nav {
        margin: 0;
        /*align-items: center;*/
        position: absolute;
        right: 0;
    }

    .bx_header .hd_left .nav li {
        display: inline-block;
    }

    .bx_header .hd_left .nav li:not(:last-child) {
        margin-right: 30px;
    }

    .hd_right {
        display: none;
    }
}

.navbar-light {
    .navbar-toggler {
        border: none !important;
        padding: 0.5rem 0;
    }
    .navbar-toggler-icon-tmp {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='1.014in' height='0.833in' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd'  stroke='rgb(27, 27, 27)' stroke-width='6px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M6.200,3.000 L63.800,3.000 '/%3E%3Cpath fill-rule='evenodd'  stroke='rgb(27, 27, 27)' stroke-width='6px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M6.200,25.312 L44.600,25.312 '/%3E%3Cpath fill-rule='evenodd'  stroke='rgb(27, 27, 27)' stroke-width='6px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M6.200,47.626 L63.800,47.626 '/%3E%3C/svg%3E");
    }
    .navbar-nav .nav-link {
        color: $black-color;
        font-weight: 400;
    }
}

.navbar-toggler-icon-tmp {
    display: inline-block;
    width: 1.6rem;
    height: 1.3rem;
    vertical-align: middle;
    content: "";
    background-size: 140% 150%; // to fit svg to span
}

.fixed.header .nav {
    margin-top: 15px
}

.navbar.navbar-expand-lg.navbar-light {
    width: 100%;
    padding: 0 0 0 2em;
    @include only-for-mobile() {
        padding: 0 1em !important;
    }
    align-items: end;
}

.bx_header .nav-item.aaaafixed {
    padding: 0;
    width: 100%;
    @include only-for-mobile() {
        border-top: 1px solid #d2d2d2;
    }
}

.bx_header .nav-link.link-append {
    background: #000;
    color: #fff !important;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

@media (max-width: 427px) {
    .navbar-nav .dropdown-menu {
        box-shadow: none !important;
        text-align: left !important;
        // SP display sub item normally
        // .dropdown-item{
        //     padding-left: 0 !important
        // }
    }

    .dropdown-toggle::after {
        margin-left: 11.255em !important;
    }

    .navbar.navbar-expand-lg.navbar-light {
        padding: 0 !important;
    }

    .header {
        .nav.justify-content-end {
            display: block;
            position: relative;
            top: 19px;
        }

        .navbar.navbar-expand-lg.navbar-light {
            span {
                font-size: 14px;
                font-family: 500;
                display: inline-block;
                margin-left: 10px;
            }
        }
    }

    .c-top {
        width: 96vw;
        margin: 0 auto;
    }

    #myHeader.fixed .bx_header {
        padding: 1em 0;
    }
    
    // header.fixed,
    // header.fixed .bx_header {
    //     height: unset !important;
    // }
    #myHeader.fixed .navbar.navbar-expand-lg.navbar-light,
    #myHeader.fixed .hd_left {
        width: 100%;
    }

    #myHeader.fixed .navbar-light .navbar-toggler {
        // position: fixed;
        // top: 20px;
    }
    
    #myHeader.fixed .logo.navbar-brand {
        width: 35%;
        margin-bottom: 0;
    }

    #myHeader.fixed .logo.navbar-brand img {
        width: 100%;
        height: auto;
        position: fixed;
        top: 20px;
    }

    #myHeader.fixed .navbar-brand p {
        // display: none;
        position: relative;
        top: 5px;
        font-size: 14px;
        margin-left: 10px;
    }

    #myHeader.fixed .hd_right {
        display: none;
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        top: 20px;
        right: 50px !important;
    }

    .bx_header .hd_left {
        padding-left: 0;
    }
}

@media (max-width: 376px) {
    header.fixed.header .navbar.navbar-expand-lg.navbar-light p {
        left: -8px;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: relative;
        text-align: left;
        left: -25px;
    }

}